html,
body {
  width: 100%;
  height: 100%;
  font-size: 10px;
  background: linear-gradient(180deg, #461E7D, 30%, #461E7D, 70%, #5738FF);
  overflow: hidden;
}
*,
svg, svg * {
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'UniversLTStd';
  font-size: 1.6rem;
  font-weight: 100;
  display: -ms-flexbox;
  display: flex;
  color: #999;
  overflow: hidden;
  opacity: 0;
  transition: opacity 100ms ease;
}
body.orientation-landscape,
body.orientation-portrait{
  opacity: 1;
}
label {
  font-weight: 400;
}
h2 {
  font-size: 4rem;
  font-weight: 100;
  margin: 3rem;
  margin-top: 0;
}
h3 {
  font-size: 2.2rem;
  font-weight: 100;
}

main {
  background: linear-gradient(180deg, #461E7D, 30%, #461E7D, 70%, #5738FF);
  background-size: 100% 200%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
  padding: 2.5vh;
  transition: background 1s ease;
  transition-delay: .2s;
  overflow: hidden;
}

section {
  position: relative;
  z-index: 0;
}
article {
  position: relative;
}
article:before {
  content: "";
  position: absolute;
  background: transparent;
  width: 85%;
  height: 1.75em;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  box-shadow: -.5em -.5em 6.5em rgba(0, 0, 0, 0.85), .5em 1em 4.5em rgba(0, 0, 0, 0.5);
  z-index: -1;
}

section#monitor {
  position: relative;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
section#monitor #enelx-logo{
  position: absolute;
  width: 16rem;
  height: auto;
  right: 2rem;
  top: 2.7rem;
}
section#monitor article#monitor-chart {
  position: relative;
  background: white;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
section#monitor article#monitor-chart svg {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
}
article#monitor-chart {
  padding-top: 3rem;
  overflow: hidden;
}
article#monitor-chart h2 {
  display: -ms-flexbox;
  display: flex;
}
article#monitor-chart h2 span svg {
  width: 5rem;
  margin-right: 3rem;
}
article#monitor-chart h2 span#clock svg line {
  transform-origin: bottom center;
  transform-box: fill-box;
  animation: clock 10s linear infinite;
  animation-play-state: paused;
}
article#monitor-chart svg#teamAreaChart{
  position: relative;
  left: -5rem;
  margin: auto;
  width: calc(100% + 5rem);
}

article#grid-wrap {
  width: 100%;
  background: white;
  padding-bottom: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
article#grid-wrap svg {
  width: 100%;
}

article#grid-wrap svg #alert,
article#grid-wrap svg #storage {
  transition: opacity .5s ease;
}
article#grid-wrap svg g#copy_storage > g {
  opacity: 0;
}
article#grid-wrap svg g#storage > g {
  opacity: 0;
}
article#grid-wrap svg g#copy_storage g.visible,
article#grid-wrap svg g#storage g.visible {
  opacity: 1;
}

article#grid-wrap svg [id*="arrow"] {
  opacity: .3;
  transition: opacity .5s ease;
}
article#grid-wrap svg [id*="arrow"].animate {
  opacity: 1;
  animation: dasharrow-inv 20s linear infinite;
}
article#grid-wrap svg [id*="arrow"].animate.fast {
  animation-duration: 10s;
}
article#grid-wrap svg [id*="arrow"].animate.reverse {
  animation: dasharrow 20s linear infinite;
}
article#grid-wrap svg #arrow_BtoH.animate {
  animation: dasharrow 20s linear infinite;
}
article#grid-wrap svg #arrow_BtoH.animate.reverse {
  animation: dasharrow-inv 20s linear infinite;
}

section#ui-panel {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  /* flex: 1 0 auto; */
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 2.5rem;
}
section#ui-panel article {
  height: 31vh;
  padding: 0;
  background: white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

section#ui-panel article > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}
section#ui-panel article > div {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  height: 100%;
}

section#ui-panel article#storage-wrap {
  width: 18.5vw;
}
section#ui-panel article#appliances-wrap {
  width: 69.5vw;
}
section#ui-panel article#storage-wrap > div {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  font-size: 2.3rem;
  padding-top: 2.5rem;
}
article#storage-wrap > div label {
  width: 65%;
}
article#storage-wrap .active #toggle {
  width: 90%;
}
article#storage-wrap #toggle svg #switch_ON,
article#storage-wrap #toggle svg #switch_OFF {
  cursor: pointer;
}
article#storage-wrap #toggle svg g {
  pointer-events: none;
}
article#storage-wrap #toggle svg #switch_ON,
article#storage-wrap #toggle svg #switch_OFF {
  transition: fill 300ms ease;
}
article#storage-wrap #toggle svg #shadow_ON,
article#storage-wrap #toggle svg #shadow_OFF {
  transition: opacity 300ms ease;
}
article#storage-wrap:not(.on) #toggle svg #switch_OFF {
  fill: #E5E5E5;
}
article#storage-wrap:not(.on) #toggle svg #shadow_ON {
  opacity: 0;
}
article#storage-wrap.on #toggle svg #switch_ON {
  fill: #2AFD95;
}
article#storage-wrap.on #toggle svg #shadow_OFF {
  opacity: 0;
}

article#appliances-wrap .demand-lb {
  text-transform: uppercase;
  color: #5738FF;
  margin-bottom: 3px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
article#appliances-wrap #demand {
  position: relative;
  border: 1px solid white;
  width: 2.5rem;
  height: calc(100% - 3px);
  overflow-x: hidden;
}
article#appliances-wrap #demand span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  background: linear-gradient(0deg, #5738FF, 30%, #5738FF, 60%, #5738FF, 85%, #FF006E);
  background-size: 100% 180%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
  transition: all .5s ease;
  transition-delay: .2s;
}

#appliances-wrap nav {
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -ms-flexbox;
  display: flex;
}
#appliances-wrap nav #bucket {
  width: 55%;
  /*width: 400px;*/
  border-right: 1px solid;
  box-shadow: -1rem 0px 5rem -1.5rem;
  box-shadow: inset -.5rem 0px 4.5rem -1rem;
}
#appliances-wrap nav #power {
  width: 45%;
}

@keyframes clock {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

@keyframes dasharrow {
  to { stroke-dashoffset: -1000; }
}
@keyframes dasharrow-inv {
  to { stroke-dashoffset: 1000; }
}

@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd-Light";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix");
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix") format("eot"),url("../assets/fonts/1475960/938b61cf-8b60-408a-a252-531fc37ebeb3.woff2") format("woff2"),url("../assets/fonts/1475960/df8a7a82-1b14-40c7-b6f8-7e2bac922b27.woff") format("woff"),url("../assets/fonts/1475960/c7989e6f-ecdd-41d3-bb56-4e3f087847e6.ttf") format("truetype");
    font-weight: 300;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix");
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix") format("eot"),url("../assets/fonts/1475972/73d8af9e-4b82-4953-81a5-8941aed30297.woff2") format("woff2"),url("../assets/fonts/1475972/19ff06fe-d0c5-4294-a237-a4c9b85312b8.woff") format("woff"),url("../assets/fonts/1475972/ff00799e-9823-48a0-a789-5f2d2e509fd7.ttf") format("truetype");
    font-weight: 500;
}
@font-face{
    font-family:"UniversLTStd-Bold";
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix");
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix") format("eot"),url("../assets/fonts/1475972/73d8af9e-4b82-4953-81a5-8941aed30297.woff2") format("woff2"),url("../assets/fonts/1475972/19ff06fe-d0c5-4294-a237-a4c9b85312b8.woff") format("woff"),url("../assets/fonts/1475972/ff00799e-9823-48a0-a789-5f2d2e509fd7.ttf") format("truetype");
    font-weight: 500;
}

.u100{
  font-family: 'UniversLTStd';
  font-weight: 100;
}

.u300{
  font-family: 'UniversLTStd';
  font-weight: 300;
}

.u500{
  font-family: 'UniversLTStd';
  font-weight: 500;
}

.u14{
  font-size: 14px;
}

.u20{
  font-size: 20px;
}

.u30{
  font-size: 30px;
}

.u40{
  font-size: 40px;
}

aside#mobile-cover{
  width: 100%;
  height: 100%;
  padding: 3vh;
  font-size: 4.5vw;
  display: none;
}
aside#mobile-cover aside,
aside#mobile-cover article{
  background: white;
  width: auto;
  height: calc(100% - 12vh);
  padding: 3vh;
}

aside#mobile-cover aside{
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  animation: rotate-device 2s infinite cubic-bezier(0.68, -0.55, 0.27, 1.55) 1.5s alternate;
}
aside#mobile-cover aside span{
  width: 20vw;
}
body.orientation-landscape aside#mobile-cover aside span{
  width: 15vw;
  transform: rotate(-90deg);
}
@keyframes rotate-device {
  20% {
    transform: rotate(0deg);
  }
  60%, 100% {
    transform: rotate(90deg);
  }
}

aside#mobile-cover article #enelx-logo{
  width: 34vw;
}
aside#mobile-cover article h1,
aside#mobile-cover article p,
aside#mobile-cover article label{
  display: -ms-flexbox;
  display: flex;
  margin: 3vh 0;
}
aside#mobile-cover article h1{
  font-weight: 100;
  font-size: 6.8vw;
  color: #5738FF;
}
aside#mobile-cover article h2{
  position: relative;
  font-weight: bold;
  font-size: 3.8vw;
  line-height: 6vw;
  margin: 0;
  color: #FF006E;
}
aside#mobile-cover article h2 span,
aside#mobile-cover article h2 span svg{
  position: relative;
  width: 5vw;
}
aside#mobile-cover article h2 span{
  margin-right: 3vw;
  top: 1vw;
}
aside#mobile-cover article label{
  font-weight: 100;
  color: #5738FF;
}
aside#mobile-cover article ul{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0;
  padding: 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
  width: 100%;
  color: #461E7D;
  font-weight: 300;
}
aside#mobile-cover article li{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 2vh 0;
  padding: 0;
  width: 100%;
  -ms-flex: 1;
      flex: 1;
}
aside#mobile-cover article li span{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
}
aside#mobile-cover article li span.icon{
  margin-right: 6vw;
  width: 12.5vw;
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  aside#mobile-cover{
    font-size: 3.5vw;
    padding: 4vh;
  }
  aside#mobile-cover aside,
  aside#mobile-cover article{
    padding: 4vh;
    height: calc(100% - 16vh);
  }
  aside#mobile-cover article #enelx-logo{
    width: 28vw;
  }
  aside#mobile-cover article h1,
  aside#mobile-cover article p,
  aside#mobile-cover article label{
    margin: 2.5vh 0;
  }
  aside#mobile-cover article h1{
    font-size: 5vw;
  }
  aside#mobile-cover article h2{
    font-size: 3vw;
  }
  aside#mobile-cover article li{
    margin: 2.5vh 0;
  }
  aside#mobile-cover article li span.icon{
    width: 8vw;
    margin-right: 5vw;
  }
}
@media screen and (device-aspect-ratio: 40/71) and (min-height: 460px) and (max-height: 470px) {
  aside#mobile-cover article h1,
  aside#mobile-cover article p,
  aside#mobile-cover article label{
    margin: 2vh 0;
  }
}

/*
  ##Device = Mobiles (Landscape)
*/

body.orientation-landscape aside#mobile-cover{
  font-size: 2.7vw;
}
body.orientation-landscape aside#mobile-cover article #enelx-logo{
  position: absolute;
  width: 15vw;
  right: 3vh;
  top: 3vh;
}
body.orientation-landscape aside#mobile-cover article{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
body.orientation-landscape aside#mobile-cover article h1,
body.orientation-landscape aside#mobile-cover article p{
  margin: 2.5vh 0;
}
body.orientation-landscape aside#mobile-cover article h1{
  font-size: 4vw;
  margin-top: 0;
}
body.orientation-landscape aside#mobile-cover article h2{
  font-size: 2.5vw;
}
body.orientation-landscape aside#mobile-cover article h2 span,
body.orientation-landscape aside#mobile-cover article h2 span svg{
  width: 3.5vw;
  margin-right: 1vw;
}
body.orientation-landscape aside#mobile-cover article ul{
  font-size: 2.3vw;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: start;
      align-items: flex-start;
}
body.orientation-landscape aside#mobile-cover article li:not(:last-of-type){
  margin-right: 2vw;
}
body.orientation-landscape aside#mobile-cover article li span.icon {
  margin-right: 1.2vw;
  width: 6vw;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

#teamAreaChart text{
  font-family: 'UniversLTStd-Light';
  fill: #000;
  stroke-width: 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
}

#teamAreaChart .axis path,
#teamAreaChart .axis line {
  fill: none;
  stroke: #5738FF;
}
#teamAreaChart .axis path {
  stroke-width: 0;
}
#teamAreaChart .axis line {
  stroke-dasharray: 1 3;
}
#teamAreaChart .axis g.tick:last-of-type line {
  opacity: 0;
}

#teamAreaChart > g.areas {
  fill: #D0D0FC;
}
#teamAreaChart g.toplines {
  fill: none;
  stroke: white;
  stroke-width: 2;
}
#teamAreaChart g.toplines .topline,
#teamAreaChart g.circles {
  stroke: #5738FF;
  stroke-width: 3;
}
#teamAreaChart g.toplines .storage {
  stroke: #20B767;
  stroke-width: 0;
}
#teamAreaChart g.circles circle {
  fill: #D0D0FC;
  stroke-width: 2;
}
#teamAreaChart g.circles circle.storcircle {
  stroke: #20B767;
  fill: #2AFD95;
}
#teamAreaChart g.toplines .threshold {
  stroke: black;
  stroke-width: 1;
  stroke-dasharray: 1 3;
}
#teamAreaChart g.toplines .danger {
  fill: #FF006E;
  stroke-width: 0;
}
#teamAreaChart g.label.toplabel text {
  text-transform: none;
  fill: #5738FF;
}
#teamAreaChart g.label.storlabel text {
  text-transform: none;
  fill: #20B767;
}
#teamAreaChart g.label.label-area text {
  fill: #ffffff;
  text-transform: none;
  opacity: .7;
}

#bucket,#power {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
#bucket {
  position: relative;
}
#appliances,
#placeholders {
  margin: 0;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 4rem 15%;
  height: 100%;
  height: -webkit-fill-available;
  list-style: none;
}
#placeholders {
  position: absolute;
}
#power-strip {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#appliances .appliance,
#placeholders .appliance,
#power-strip .socket {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 12.5rem;
  height: 10.5rem;
}
#placeholders .appliance,
#power-strip .socket {
  background: url('./assets/socket.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#power-strip .socket {
  background-image: url('./assets/plug.svg');
}
#appliances .appliance,
#placeholders .appliance {
  z-index: 10;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}
#appliances .appliance.draggable {
  /*counter-increment: appliance;*/
  -ms-touch-action: none;
      touch-action: none;
}
#appliances .appliance.draggable.moving {
  z-index: 10;
  pointer-events: none;
  transition: transform 300ms ease;
}
#appliances .appliance.draggable.over {
  z-index: 15;
}
#appliances .appliance p {
  color: slategrey;
}
#appliances .appliance svg g#glow {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
#appliances .appliance svg path#shadow {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
#appliances .appliance.on svg g#glow {
  opacity: 1;
}
#appliances .appliance.on svg path#shadow {
  opacity: 0;
}
#appliances .appliance.on svg g[id*="icon"] * {
  fill: #5738FF;
  stroke: none;
}
#appliances .appliance.on svg g#icon_brewing *  {
  fill: none;
  stroke: #5738FF;
}
#appliances .appliance svg g#token path[fill="#C6C6C6"] {
  transition: fill 300ms ease-in-out;
}
#appliances .appliance.on svg g#token path[fill="#C6C6C6"] {
  fill: #5738FF;
}
#placeholders .appliance {
  cursor: initial;
}
#power-strip li {
  width: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}
#power-strip .no-app {
  -ms-flex: .1;
      flex: .1;
  transition: opacity 300ms ease;
}
#power-strip .no-app svg {
  transform: rotate(-90deg);
  animation: bounce 2s infinite;
  position: relative;
  width: 100%;
}
#power-strip .info {
  -ms-flex: .6;
      flex: .6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
}
#power-strip .info h4 {
  margin: 0;
  text-align: left;
}
#power-strip li.on {
  color: #5738FF;
  font-size: 2rem;
}
#power-strip li.on .no-app {
  opacity: 0;
}
.drag-drop {
  transform: translate(1px, 1px);
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    left: 0;
  }
  40% {
    left: -1rem;
  }
  60% {
    left: -1.5rem;
  }
}

.orientation-landscape main{
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  padding: 2vh 0;
  padding-top: 2.5vh;
  width: 100%;
  height: 100%;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
#main-wrap{
  width: 100%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}
#ui-wrap{
  width:100%;
}
.orientation-landscape #main-wrap{
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
}
.orientation-landscape section#monitor article#monitor-chart svg{
  height: 60%;
}
.orientation-landscape article#monitor-chart h2 span svg{
  margin-right: .5rem;
}
.orientation-landscape h2 {
  font-size: 2.4rem;
  margin: 2.5rem;
  margin-top: 0;
  margin-left: 1vw;
}
.orientation-landscape #monitor{
  width: 55%;
  height: 95%;
  -ms-flex: 0 1 auto;
      flex: 0 1 auto;
}
.orientation-landscape section#ui-panel article#appliances-wrap {
  width: 50vw;
}
.orientation-landscape #appliance-wrap,
.orientation-landscape section#ui-panel article{
  height: 43vh;
}
.orientation-landscape #ui-wrap{
  width: 41.5%;
  height: 95%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.orientation-landscape section#ui-panel #appliances-wrap nav #bucket{
  width: 55%;
}
.orientation-landscape section#ui-panel #appliances-wrap nav #power {
  width: 52%;
  height: 100%;
}
.orientation-landscape section#ui-panel #appliances-wrap #power-strip li{
  width: 90%;
  -ms-flex: 1;
      flex: 1;
}
.orientation-landscape section#ui-panel #appliances-wrap #power-strip li.on{
  font-size: 1.7rem;
}
#simulation-landscape {
  display: none;
}
.orientation-landscape #simulation-landscape{
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 4vh 0 4vh 2.5vw;
  height: 37vh;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}
.orientation-landscape #storage-landscape{
  width: 15%;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: c,olumn;
      flex-direction: c,olumn;
  margin-right: 2vw
}
.orientation-landscape #storage-landscape .active{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: start;
      align-items: flex-start;
}
.orientation-landscape #storage-landscape .active label,
.orientation-landscape #storage-landscape .active label svg{
  width: 100%;
  height: auto;
}
.orientation-landscape #storage-landscape .active #toggle{
  width: 100%;
  height: auto;
  position: relative;
  left: -13%;
  bottom: -7%;
}
.orientation-landscape #storage-landscape .active #toggle svg{
  width: 100%;
}
.orientation-landscape #ui-panel{
  -ms-flex: initial;
      flex: initial;
  margin: 0;
}
.orientation-landscape #grid-wrap,
.orientation-landscape #storage-wrap{
  display: none;
}
.orientation-landscape #appliances .appliance,
.orientation-landscape #placeholders .appliance,
.orientation-landscape #power-strip .socket{
  width: 7.5rem;
  height: 6.2rem;
}
.orientation-landscape #appliances,
.orientation-landscape #placeholders{
  padding: 2rem 15%;
}

/* STORAGE TOGGLE */
.orientation-landscape #storage-landscape #toggle svg #switch_ON,
.orientation-landscape #storage-landscape #toggle svg #switch_OFF {
  cursor: pointer;
}
.orientation-landscape #storage-landscape #toggle svg g,
.orientation-landscape #storage-landscape #toggle svg text {
  pointer-events: none;
}
.orientation-landscape #storage-landscape #toggle svg #switch_ON,
.orientation-landscape #storage-landscape #toggle svg #switch_OFF {
  transition: fill 300ms ease;
}
.orientation-landscape #storage-landscape #toggle svg #shadow_ON,
.orientation-landscape #storage-landscape #toggle svg #shadow_OFF {
  transition: opacity 300ms ease;
}
.orientation-landscape #storage-landscape:not(.on) #toggle svg #switch_OFF {
  fill: #E5E5E5;
}
.orientation-landscape #storage-landscape:not(.on) #toggle svg #shadow_ON {
  opacity: 0;
}
.orientation-landscape #storage-landscape.on #toggle svg #switch_ON {
  fill: #2AFD95;
}
.orientation-landscape #storage-landscape.on #toggle svg #shadow_OFF {
  opacity: 0;
}
/* GRID SCHEMA */
.orientation-landscape #grid-landscape {
  width: 70%;
  height: auto;
  background: transparent;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  left: .7vw;
}
.orientation-landscape #grid-landscape svg {
  width: 95%;
  -ms-flex: 0.75;
      flex: 0.75;
}
.orientation-landscape #grid-landscape svg #alert,
.orientation-landscape #grid-landscape svg #storage {
  transition: opacity .5s ease;
}
.orientation-landscape #grid-landscape svg g#copy_storage > g {
  opacity: 0;
}
.orientation-landscape #grid-landscape svg g#storage > g {
  opacity: 0;
}
.orientation-landscape #grid-landscape svg g#copy_storage g.visible,
.orientation-landscape #grid-landscape svg g#storage g.visible {
  opacity: 1;
}

.orientation-landscape #grid-landscape svg [id*="arrow"] {
  opacity: .3;
  transition: opacity .5s ease;
}
.orientation-landscape #grid-landscape svg [id*="arrow"].animate {
  opacity: 1;
  animation: dasharrow-inv 20s linear infinite;
}
.orientation-landscape #grid-landscape svg [id*="arrow"].animate.fast {
  animation-duration: 10s;
}
.orientation-landscape #grid-landscape svg [id*="arrow"].animate.reverse {
  animation: dasharrow 20s linear infinite;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1600px) {
  .orientation-landscape #appliances .appliance,
  .orientation-landscape #placeholders .appliance,
  .orientation-landscape #power-strip .socket{
    width: 8.5rem;
    height: 7.2rem;
  }
  .orientation-landscape #storage-landscape .active #toggle{
    width: 130%;
  }
  .orientation-landscape #appliances .appliance,
  .orientation-landscape #placeholders .appliance,
  .orientation-landscape #power-strip .socket{
    width: 9.7rem;
    height: 8.2rem;
  }
  .orientation-landscape #appliances,
  .orientation-landscape #placeholders{
    padding: 0rem 15%;
  }
  .orientation-landscape #grid-landscape {
    left: 2vw;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  html,body {
    font-size: 7px;
  }
  main {
    padding: 2vh;
  }
  #main-wrap{
    height: 100%;
    -ms-flex: 1;
        flex: 1;
  }
  article#monitor-chart h2 {
    margin-bottom: 0;
  }
  article#monitor-chart h2 span svg {
    width: 4rem;
  }
  article#grid svg,
  article#storage > div label svg,
  article#storage .active #toggle svg {
    width: 80%;
  }
  section#ui-panel article {
    height: 30vh;
  }
  article#grid-wrap{
    padding: 0;
  }
  article#grid-wrap svg{
    width: 80%;
  }
  #appliances-wrap nav #power{
    height: 100%;
  }
  #power-strip li{
    width: 90%;
  }
  #appliances .appliance,
  #placeholders .appliance,
  #power-strip .socket{
    width: 10rem;
    height: 8.5rem;
  }
  article#storage-wrap .active #toggle{
    width: 70%;
  }
  #power-strip .info h4{
    font-size: 1.6rem;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .orientation-landscape h2{
    font-size: 2.7rem;
    line-height: 2.8rem;
  }
  .orientation-landscape #appliance-wrap,
  .orientation-landscape section#ui-panel article{
    height: 40vh;
  }
  .orientation-landscape #simulation-landscape{
    height: 30vh;
    padding-left: 1.5vw;
  }
  .orientation-landscape #storage-landscape .active{
    font-size: 2rem;
  }
  .orientation-landscape #storage-landscape .active #toggle{
    width: 100%;
  }
  .orientation-landscape #grid-landscape {
    left: 0.5vw;
    -ms-flex: 4;
        flex: 4;
  }
  .orientation-landscape #grid-landscape svg {
    -ms-flex: .9;
        flex: .9;
  }
  .orientation-landscape #appliances .appliance,
  .orientation-landscape #placeholders .appliance,
  .orientation-landscape #power-strip .socket{
    width: 9.7rem;
    height: 8.2rem;
  }
  #power-strip .no-app {
    -ms-flex: .15;
        flex: .15;
  }
  .orientation-landscape #appliances,
  .orientation-landscape #placeholders{
    padding: 0rem 10.5%;
  }
  #teamAreaChart text{
    font-family: 'UniversLTStd';
    font-size: 1.65rem;
    font-weight: 300;
  }
}

/* iPad chrome*/
@media only screen and (min-height: 650px) and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .orientation-landscape #appliance-wrap,
  .orientation-landscape section#ui-panel article{
    height: 46vh;
  }
  .orientation-landscape #simulation-landscape{
    height: 37vh;
  }
  .orientation-landscape #grid-landscape svg{
    -ms-flex: 0 1 89%;
        flex: 0 1 89%;
  }
}
/* iPad safari*/
@media only screen and (min-height: 700px) and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .orientation-landscape article#monitor-chart h2{
    line-height: 4rem;
  }
  .orientation-landscape article#monitor-chart h2 span svg{
    margin-right: 1.5rem;
  }
  .orientation-landscape #power-strip .socket{
    margin: 0 5%;
  }
  article#appliances-wrap #demand{
    width: 3rem;
  }
  .orientation-landscape #appliance-wrap,
  .orientation-landscape section#ui-panel article{
    height: 45vh;
  }
  .orientation-landscape #simulation-landscape{
    height: 35vh;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  html,body {
    font-size: 5px;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  html,body {
    font-size: 3px;
  }
}