/*****************************************
  EXTEND FLEX-LAYOUT-ATTRIBUTE
  Simple 12 grid layout definition
  Define column width and columns gutter
*****************************************/

[grid~="1of12"]  { width: 8.33333%; }
[grid~="2of12"]  { width: 16.66667%; }
[grid~="3of12"]  { width: 25%; }
[grid~="4of12"]  { width: 33.33333%; }
[grid~="5of12"]  { width: 41.66667%; }
[grid~="6of12"]  { width: 50%; }
[grid~="7of12"]  { width: 58.33333%; }
[grid~="8of12"]  { width: 66.66667%; }
[grid~="9of12"]  { width: 75%; }
[grid~="10of12"] { width: 83.33333%; }
[grid~="11of12"] { width: 91.66667%; }
[grid~="12of12"] { width: 100%;
}

[self~="full"] { width: 100%; }

/*
[grid-gutter] > [grid~="1of12"]  { width: 6.25%;}
[grid-gutter] > [grid~="2of12"]  { width: 14.7%; }
[grid-gutter] > [grid~="3of12"]  { width: 23.3%; }
[grid-gutter] > [grid~="4of12"]  { width: 31.8%; }
[grid-gutter] > [grid~="5of12"]  { width: 40.35%; }
[grid-gutter] > [grid~="6of12"]  { width: 48.9%; }
[grid-gutter] > [grid~="7of12"]  { width: 57.35%; }
[grid-gutter] > [grid~="8of12"]  { width: 65.9%; }
[grid-gutter] > [grid~="9of12"]  { width: 74.45%; }
[grid-gutter] > [grid~="10of12"] { width: 83%; }
[grid-gutter] > [grid~="11of12"] { width: 91.5%; }
[grid-gutter] > [grid~="12of12"] { width: 100%; }
*/

[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:nth-child(n),
[grid-gutter]:not([layout*="column"]) > [grid]:nth-child(n) { margin-left:  1.05vw;
                                                              margin-right: 1.05vw; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:first-child,
[grid-gutter]:not([layout*="column"]) > [grid]:first-child  { margin-left:  0; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:last-child,
[grid-gutter]:not([layout*="column"]) > [grid]:last-child   { margin-right: 0; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:only-child,
[grid-gutter]:not([layout*="column"]) > [grid]:only-child   { margin-right: 0;
                                                              margin-left:  0; }

[grid-layout="grid-gutter"] > [grid~="1of12"],
[grid-gutter] > [grid~="1of12"]  { width: 5.35vw; }
[grid-layout="grid-gutter"] > [grid~="2of12"],
[grid-gutter] > [grid~="2of12"]  { width: 12.75vw; }
[grid-layout="grid-gutter"] > [grid~="3of12"],
[grid-gutter] > [grid~="3of12"]  { width: 20.25vw; }
[grid-layout="grid-gutter"] > [grid~="4of12"],
[grid-gutter] > [grid~="4of12"]  { width: 27.65vw; }
[grid-layout="grid-gutter"] > [grid~="5of12"],
[grid-gutter] > [grid~="5of12"]  { width: 35.05vw; }
[grid-layout="grid-gutter"] > [grid~="6of12"],
[grid-gutter] > [grid~="6of12"]  { width: 42.55vw; }
[grid-layout="grid-gutter"] > [grid~="7of12"],
[grid-gutter] > [grid~="7of12"]  { width: 49.85vw; }
[grid-layout="grid-gutter"] > [grid~="8of12"],
[grid-gutter] > [grid~="8of12"]  { width: 57.35vw; }
[grid-layout="grid-gutter"] > [grid~="9of12"],
[grid-gutter] > [grid~="9of12"]  { width: 64.75vw; }
[grid-layout="grid-gutter"] > [grid~="10of12"],
[grid-gutter] > [grid~="10of12"] { width: 72.15vw; }
[grid-layout="grid-gutter"] > [grid~="11of12"],
[grid-gutter] > [grid~="11of12"] { width: 79.55vw; }
[grid-layout="grid-gutter"] > [grid~="12of12"],
[grid-gutter] > [grid~="12of12"] { width: 87vw;
}

[self~="hide"] {
  display: none;
}

@media screen and (max-width: 64em) {
  [grid-layout="grid-gutter"] > [grid~="lg-1of12"],
  [grid-gutter] > [grid~="lg-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-2of12"],
  [grid-gutter] > [grid~="lg-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-3of12"],
  [grid-gutter] > [grid~="lg-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-4of12"],
  [grid-gutter] > [grid~="lg-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-5of12"],
  [grid-gutter] > [grid~="lg-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-6of12"],
  [grid-gutter] > [grid~="lg-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-7of12"],
  [grid-gutter] > [grid~="lg-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-8of12"],
  [grid-gutter] > [grid~="lg-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-9of12"],
  [grid-gutter] > [grid~="lg-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-10of12"],
  [grid-gutter] > [grid~="lg-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-11of12"],
  [grid-gutter] > [grid~="lg-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-12of12"],
  [grid-gutter] > [grid~="lg-12of12"] { width: 87vw;
  }

  [self~="lg-show"] {
    display: inherit; }
}
@media screen and (max-width: 52em) {
  [grid-layout="grid-gutter"] > [grid~="md-1of12"],
  [grid-gutter] > [grid~="md-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="md-2of12"],
  [grid-gutter] > [grid~="md-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="md-3of12"],
  [grid-gutter] > [grid~="md-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="md-4of12"],
  [grid-gutter] > [grid~="md-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="md-5of12"],
  [grid-gutter] > [grid~="md-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="md-6of12"],
  [grid-gutter] > [grid~="md-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="md-7of12"],
  [grid-gutter] > [grid~="md-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="md-8of12"],
  [grid-gutter] > [grid~="md-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="md-9of12"],
  [grid-gutter] > [grid~="md-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="md-10of12"],
  [grid-gutter] > [grid~="md-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="md-11of12"],
  [grid-gutter] > [grid~="md-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="md-12of12"],
  [grid-gutter] > [grid~="md-12of12"] { width: 87vw;
  }

  [self~="md-show"] {
    display: inherit; }
}
@media screen and (max-width: 40em) {
  [grid-layout="grid-gutter"] > [grid~="sm-1of12"],
  [grid-gutter] > [grid~="sm-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-2of12"],
  [grid-gutter] > [grid~="sm-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-3of12"],
  [grid-gutter] > [grid~="sm-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-4of12"],
  [grid-gutter] > [grid~="sm-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-5of12"],
  [grid-gutter] > [grid~="sm-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-6of12"],
  [grid-gutter] > [grid~="sm-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-7of12"],
  [grid-gutter] > [grid~="sm-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-8of12"],
  [grid-gutter] > [grid~="sm-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-9of12"],
  [grid-gutter] > [grid~="sm-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-10of12"],
  [grid-gutter] > [grid~="sm-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-11of12"],
  [grid-gutter] > [grid~="sm-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-12of12"],
  [grid-gutter] > [grid~="sm-12of12"] { width: 87vw;
  }

  [self~="sm-show"] {
    display: inherit; }
}

header[grid-layout],
header[grid-gutter],
section[grid-layout],
section[grid-gutter],
footer[grid-layout],
footer[grid-gutter] {
  padding: 0 6.5vw;
}

.overlay-grid-test {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
.overlay-grid-test [grid] {
  height: 100%;
  background: rgba(0,0,0,.2);
}

@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd-Light";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix");
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix") format("eot"),url("../assets/fonts/1475960/938b61cf-8b60-408a-a252-531fc37ebeb3.woff2") format("woff2"),url("../assets/fonts/1475960/df8a7a82-1b14-40c7-b6f8-7e2bac922b27.woff") format("woff"),url("../assets/fonts/1475960/c7989e6f-ecdd-41d3-bb56-4e3f087847e6.ttf") format("truetype");
    font-weight: 300;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix");
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix") format("eot"),url("../assets/fonts/1475972/73d8af9e-4b82-4953-81a5-8941aed30297.woff2") format("woff2"),url("../assets/fonts/1475972/19ff06fe-d0c5-4294-a237-a4c9b85312b8.woff") format("woff"),url("../assets/fonts/1475972/ff00799e-9823-48a0-a789-5f2d2e509fd7.ttf") format("truetype");
    font-weight: 500;
}

.u100{
  font-family: 'UniversLTStd';
  font-weight: 100;
}

.u300{
  font-family: 'UniversLTStd';
  font-weight: 300;
}

.u500{
  font-family: 'UniversLTStd';
  font-weight: 500;
}

.u14{
  font-size: 14px;
}

.u20{
  font-size: 20px;
}

.u30{
  font-size: 30px;
}

.u40{
  font-size: 40px;
}

/***********************************
  MAIN APP STYLE DEFINITIONS
  Define all global elements style
***********************************/

html, body, main {
  width: 100vw;
  min-height: 100vh;
  font-size: 10px; /* Initialize 1rem to 10px */
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
body, main {
  font-family: 'UniversLTStd';
  font-weight: 100;
  font-size: 1.8rem; /* Set default font size (16px ~= 12pt) */
  line-height: 1.5em;
}

hgroup {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
h1, h2, h3, h4 {
  font-weight: 100;
  font-family: 'UniversLTStd-Light';

}
h2, h3, h4 {
  margin: 0.5rem 0;
  line-height: 1.4em;
}
h1 {
  margin: 1rem 0;
  font-size: 8rem;
  letter-spacing: .2rem;
  line-height: 1.6em;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: 0.135rem;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
p {
  margin: .5rem 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.08rem;
}
img{

}
small,
label,
figure figcaption {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
label {
  font-weight: 500;
  text-transform: uppercase;
}
label.label-sm {
  font-weight: 100;
  text-transform: none;
}
label.label-lg {
  font-weight: 100;
  font-size: 2.2rem;
  letter-spacing: 0.135rem;
  text-transform: none;
}

nav ul {
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: inherit;
}
nav ul.ul-outline li {
  padding: 1rem 1rem .7rem;
  background: transparent;
  border: .2rem solid;
  text-transform: uppercase;
}
nav ul.ul-outline li.active {
  background: inherit;
}
/* consider create ul basing on flex layout */
nav[nav-gutter] ul[layout*="row"] { width: auto; }
nav[nav-gutter] ul[layout*="row"] li:nth-child(n) { margin-left:  .75vw;
                                                    margin-right: .75vw;
                                                  }
nav[nav-gutter] ul[layout*="row"] li:first-child  { margin-left: 0 }
nav[nav-gutter] ul[layout*="row"] li:last-child   { margin-right: 0 }
/*  */
nav[nav-gutter] ul[layout*="column"] li:nth-child(n) { margin-top: .75vh;
                                                       margin-bottom: .75vh;
                                                     }
nav[nav-gutter] ul[layout*="column"] li:first-child  { margin-top: 0 }
nav[nav-gutter] ul[layout*="column"] li:last-child   { margin-bottom: 0 }
/*  */
nav.pagination {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1em;
}
nav.pagination span:first-child,
nav.pagination span:last-child {
  cursor: pointer;
}
nav.pagination span:first-child:after {
  content: 'prev';
}
nav.pagination span:last-child:before {
  margin-right: .5rem;
  content: 'next'
}
nav.pagination span:first-child{
  padding-left: 1em;
  padding-right: 2em;
}
nav.pagination span svg, nav.pagination span svg .st0{
  stroke: #fff;
}
nav.pagination span:last-child{
  padding-right: 1em;
  padding-left: 2em;
}

nav.pagination span svg, #landing nav.pagination span svg .st0{
  width: 1rem;
  height: 1.2rem;
  stroke: #FF0F64;
}

button.disabled, button[disabled],
a.disabled, a[disabled],
ul li.disabled, ul li[disabled],
nav.pagination span.disabled,
nav.pagination span[disabled] {
  opacity: .5;
  pointer-events: none;
}

button,
a.btn-outline {
  font-size: 1.6rem;
  letter-spacing: .05rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  cursor: pointer;
}
button.btn-small,
.btn-small {
  font-size: 1.4rem;
}
button.btn-outline,
.btn-outline {
  min-width: 22.2rem;
  padding: 1.8rem 1.5rem 1.5rem;
  background: transparent;
  border: 2px solid;
}
button.btn-small.btn-outline,
.btn-small.btn-outline {
  padding: 1rem 2rem .7rem;
}
button.btn-hamburger {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  width: 4rem;
  height: 3rem;
}
button.btn-hamburger span,
button.btn-hamburger span::before,
button.btn-hamburger span::after {
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  width: 100%;
  height: .6rem;
  margin-top: -.3rem;
  left: 0;
}
button.btn-hamburger span::before {
  margin: 0;
  top: -1.2rem;
}
button.btn-hamburger span::after {
  margin: 0;
  top: 1.3rem;
}
button.btn-hamburger.close span {
  background: transparent;
}
button.btn-hamburger.close span::before {
  transform: rotate(45deg);
  top: 0;
}
button.btn-hamburger.close span::after {
  transform: rotate(-45deg);
  top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

figure img,
figure video,
figure figcaption {
  width: 100%;
}
figure figcaption {
  font-weight: 300;
}

svg *,
svg, svg g, svg path, svg text,
.noselect, .noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
svg::-moz-selection, svg *::-moz-selection,
svg g::-moz-selection, svg path::-moz-selection, svg text::-moz-selection,
.noselect::-moz-selection,
.noselect *::-moz-selection {
  background: rgba(0,0,0,0);
}
svg::selection, svg *::selection,
svg g::selection, svg path::selection, svg text::selection,
.noselect::selection,
.noselect *::selection {
  background: rgba(0,0,0,0);
}

.logo-lg {
  width: 28rem;
}

.number-lg {
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.number-xlg {
  font-size: 6rem;
  line-height: 1.1em;
}
.number-xxlg {
  font-size: 8rem;
  line-height: 1.1em;
}
.number-lg   .unit::before,
.number-xlg  .unit::before,
.number-xxlg .unit::before,
.time        .unit::before {
  content: ' ';
}

.info_block {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}
.info_block > label {
  display: block;
}

@media screen and (max-width: 64em) {
  html, body, main {
    font-size: 9px;
  }
  body, main {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 52em) {
  html, body, main {
    font-size: 8px;
  }
  body, main {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 40em) {
  html, body, main {
    font-size: 8px;
  }
  body, main {
    font-size: 1.8rem;
  }

  .logo-lg {
    width: 22rem;
  }
}

/* inside snippets */
#snippet nav.pagination span.next_btn{
  line-height: 1em;
  padding-right: 1em;
}

#snippet nav.pagination span.prev_btn{
  line-height: 1em;
  padding-left: 1em;
}


/**footer*/
footer .footer-copyright, .footer-legal-links{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.footer-legal li {
  font-size: 14px;
  line-height: 142.85714%;
  display: inline-block;
  float: left;
  position: relative;
}

.footer-legal-links li{
  font-size: 14px;
  letter-spacing: 0;
  line-height: 142.85714%;
  margin: 0 10px 13px 0;
  padding-right: 10px;
}

.footer-copyright li {
  margin: 0 10px 13px 0;
  padding-right: 10px;
}

.footer-legal-links a {
  color: #41b9e6;
}

.footer-legal-links li:first-child:after, .footer-legal li:not(:last-child):before {
  content: '';
  display: block;
  position: absolute;
  height: 14px;
  top: 3px;
  width: 1px;
}

.footer-legal-links li:before, .footer-copyright li:before {
  background: #313131;
  right: 0;
}


body {
  overflow-x: hidden;
}
/*.safari {
  overflow: hidden;
}*/
.safari body {
  /*overflow: hidden;*/
  /*position: fixed;*/
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#landing {
  background: #0555f9;
}

#landing > section {
  position: relative;
  top: 0;
  left: 0;
}

#landing > section .zoom {
  width: 4rem;
  height: 9rem;
  position: absolute;
  bottom: 3vh;
  left: 3vw;
}
#landing > section .zoom div {
  cursor: pointer;
}
#landing > section .zoom div[disabled] {
  opacity: .3;
  cursor: auto;
}

#landing article {
  padding-top: 10vh;
  width: 42vh;
  position: absolute;
  right: 5vh;
  z-index: 10;
}

#landing footer {
  color: #252524;
  background: #eaeaea;
  height: 85px;
  overflow: hidden;
}

#landing footer > div {
  position: relative;
}

#landing footer #energy{
  padding-left: 2rem;
  border-left: 1px solid #c9c9c9;
  border-right: 1px solid #c9c9c9;
}

#landing footer #energy .number-xlg{
 font-size: 40px;
 clear: both;
}

#landing footer #energy label.unit{
  display: inline-block;
  font-weight: 100;
  text-transform: none;
}


#landing footer #energy{
  width: 40vw;
}

#landing footer #stream{
}

#landing footer #tour {
  overflow: hidden;
  padding-left: 1vh;
  width: 120vw;
  position: relative;
}

#landing footer #tour-wrapper {
  overflow: hidden;
}

#landing footer #tour-menu {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#landing footer #tour:before,
#landing footer #tour:after {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 6rem;
  opacity: 1;
  background: linear-gradient(90deg,
                              rgba(234, 234, 234, 1), 10%,
                              rgba(234, 234, 234, .5) 80%,
                              rgba(234, 234, 234, 0)  100%);
  z-index: 2;
  pointer-events: none;
}
#landing footer #tour:after {
  left: auto;
  right: 0;
  background: linear-gradient(270deg,
                              rgba(234, 234, 234, 1), 10%,
                              rgba(234, 234, 234, .5) 80%,
                              rgba(234, 234, 234, 0)  100%);
}

#landing footer #tour #tour-menu {
  padding: 0;
  margin: 0;
  padding: 0 2rem;
  /*transform: translateX(-4vw);*/
}



#landing footer .live-text{
  position: relative;
}

#landing footer .live-text:after{
  display: block;
  position: absolute;
  content: 'LIVE';
  top: 0;
  left: 8.5em;
  color: #FF0F64;
}

#landing footer .live-text:before{
  display: block;
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  top: 3px;
  left: 7.5em;
  background: #FF0F64;
  animation: pulse 2s infinite;
}


#landing footer streamgraph{
  width: 100%;
  margin-top: 80px; /*fake*/
}

#landing footer streamgraph svg{
  width: 100%;
}

#landing footer streamgraph svg path:nth-child(4){
  /*fill:#bbb;*/
  /*border: 1px solid;*/
}

/*#landing footer streamgraph svg path{
  fill:#ccc;
}*/


#landing footer #tour li{
  list-style-type: none;
  padding: 0 1em;
  margin: .3em;
  background: #FFF;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  white-space: nowrap;
}

#landing footer #tour li.active{
  background: #0555f9;
  color: #FFF;
}

#landing-dashboard-link {
  position: absolute;
  z-index: 10;
  left: 6vh;
  width: 4vh;
  height: 4vh;
  padding: 1vh;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  cursor: pointer;
}

.safari #landing-dashboard-link {
  top: 50%;
  transform: translate(-50%, -50%)
}

.mobile #mobile-dashboard-link {
  left: auto;
  right: 2rem;
  top: 4vh;
  width: 40vw;
  color: #0555f9;
  text-align: left;
  border-radius: 20px;
  height: 5.5vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 1vh 3vh;
  font-size: 2vh;
  font-weight: 300;
  position: absolute;
  z-index: 9;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  cursor: pointer;
  max-width: 26rem;
}
.mobile #mobile-dashboard-link svg{
  width: 2.5vh;
}
.mobile #landing .car_wrap {
  margin-top: 5rem;
}
.mobile #landing .car_wrap img {
  max-width: 70vw;
}

.mobile #landing .control_arrow {
  width: 5rem;
  height: 5rem;
}

#mobile-tour ul {
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 0;
}

#mobile-tour li {
  list-style: none;
  /**/
  background: #FFF;
  color: #252524;
  border: none;
  /**/
  border-radius: 1.5em;
  font-size: 2rem;
  letter-spacing: .05rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-align: center;
  cursor: pointer;
  margin-bottom: 2vh;
  min-width: auto;
  padding: 1.8rem 3rem 1.5rem
}

#mobile-tour > h3 {
  color: #fff;
  width: 90vw;
  text-align: center;
  /*font-size: 4vh;
  line-height: 4.5vh;*/
  font-weight: light;
  margin-bottom: 4vh;
}

#dashboard .loaderpanel {
  background: #eaeaea;
}
#dashboard .loaderpanel > div.loader_animation svg{
  stroke: #666666;
  fill: #666666;
}

.loaderpanel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: #0555f9;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  color: #fff;
}
.loaderpanel > div{
  padding: 4vh;
  -ms-flex: 1;
      flex: 1;
}
.loaderpanel > div.loader_animation{
  -ms-flex: 2;
      flex: 2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.loaderpanel > div.loader_animation svg{
  -ms-flex: 1;
      flex: 1;
  height: 30vh;
  animation: pulse-loader 1s infinite;
}
.loaderpanel .loader_logo svg{
  width: 15vw;
}
.loaderpanel > div p {
  font-size: 3vh;
  line-height: 120%;
  width: 70%;
}

.tour_info {
  position: absolute;
  left: 3vw;
  top: 18vh;
  color: #fff;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
}
#landing .tour_info h2{
  font-size: 6vh;
}
#landing .tour_info > div:first-child {
  padding-top: 3.3vh;
  margin-right: 2.5vh;

}
snippet-card #fastRecharge {
  transform: translateY(-5vh);
}
snippet-card .clean_energy_global_img{
  width: 90%;
}

#landing .tour_info .dots_container span {
  width: .6rem;
  height: .6rem;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  margin: 0 .8vh;
  transition: transform .5s;
}
#landing .tour_info .dots_container span:first-child {
  margin-left: 0;
}
#landing .tour_info .dots_container span.active {
  transform: scale(2);
}

#landing .tour_info  span#exit {
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  text-align: center;
  background: white;
  width: 3.5vh;
  height: 3.5vh;
  left: 50%;
  bottom: -1.75vh;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  cursor: pointer;
}
#landing .tour_info span#exit svg{
  width: 1.5vh;
}
.mobile .mobile-container {
  overflow-y: auto;
}
.safari.mobile .mobile-container {
  overflow-y: scroll;
}
.mobile #landing {
  overflow: hidden;
}

.mobile #landing article {
    padding-top: 0;
    position: absolute;
    right: auto;
    left: auto;
    width: 100vw;
    height: 100%;
    pointer-events: none;
}

.mobile #landing snippet-carousel {
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: hidden;
  pointer-events: all;
}
.mobile #landing snippet-carousel .cards-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.mobile #landing snippet-carousel > span#exit {
  top: 5vh;
  right: 2vh;
  width: 5vh;
  height: 5vh;
}

.mobile #landing snippet-card[size*="full"] {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
}

.mobile.safari #landing snippet-card[size*="full"] {
  height: 100%;
}

.mobile.safari #landing snippet-carousel {
  height: 100%;
}

.mobile header {
  pointer-events: none;
}

.mobile header #logo_container{
  pointer-events: none;
}


.mobile #landing .tour_info {
  left: auto;
  right: 3vh;
  top: 2.5vh;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
.safari.mobile #landing .tour_info {
  position: fixed;
}
.mobile #landing .tour_info h2{
  font-size: 3vh;
  margin-bottom: 0;
}
.mobile #landing snippet-carousel #exit{
  display: none;
}
.mobile #landing .tour_info > div:first-child {
  padding-top: 3vh;
  margin-right: 0;
  margin-left: 2.5vh;
}
.mobile header .logo-lg {
  width: 15rem;
}
.mobile #landing snippet-card p {
  font-size: 2rem;
  line-height: 120%;
}
.mobile #landing snippet-card span.info_note {
  font-size: 1.8rem;
  line-height: 110%;
}
.mobile snippet-card .info_block > label {
  font-size: 2.3rem;
}
.mobile snippet-card .number-lg {
  font-size: 5rem;
}
.mobile snippet-card h2 {
  font-size: 4rem;
}
.mobile snippet-card .sub-snippet > ul .note {
  font-size: 2.2rem;
}
.mobile snippet-card .label-sm {
  font-size: 2.5rem;
}
.mobile snippet-card > div:not(.sub-snippet) {
  max-height: 80vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.mobile snippet-card > [layout*="column"][layout*="stretch-"] > svg{
  -ms-flex: 1 0 auto!important;
      flex: 1 0 auto!important;
}
.mobile snippet-card > div.content.sub-snippet > div:not(.info-block) > svg {
  -ms-flex: 1 0 auto!important;
      flex: 1 0 auto!important;
  position: relative;
}
.mobile snippet-card .sub-snip-content {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 5vh;
}
.mobile snippet-card > div.content > div > .info_block {
  position: relative;
}
.mobile snippet-card > div > .info_block {

}

.mobile.safari snippet-carousel .carousel_controls {
  position: fixed;
}


@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse-loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  .mobile.safari #landing snippet-carousel{
    height: 768px;
  }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  .mobile.safari #landing snippet-carousel{
    height: 1024px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
  .mobile.safari #landing snippet-carousel{
    height: 320px;
  }
}*/
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
  .mobile.safari #landing .car_wrap img{
    max-width: 60vw;
  }
  #mobile-tour li {
    padding: 1.2rem 2rem 1.5rem
  }
}
/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
  .mobile.safari #landing snippet-carousel{
    height: 320px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
  .mobile.safari #landing snippet-carousel{
    height: 480px;
  }
}*/

header {
  z-index: 10;
}
header h4 {
  color: #fff;
  opacity: 0;
}

#logo_container{
  margin-top: 2rem;
}

.logo-lg {
  /*max-width: 25rem;*/
  fill: #fff;
}

.logo-lg stop {
  stop-color: #fff;
}

#dashboard .live-text,
#dashboard .live-value,
#dashboard .live-value-r {
  position: relative;
}

#dashboard .live-text:after{
  display: block;
  position: absolute;
  content: 'LIVE';
  bottom: .5em;
  left: 145%;
  color: #FF0F64;
  font-size: 1.4rem;
  line-height: 1.3em;
}

#dashboard .live-text:before{
  display: block;
  position: absolute;
  content: '';
  width: .8vw;
  height: .8vw;
  border-radius: 50%;
  bottom: .4em;
  left: 125%;
  background: #FF0F64;
  animation: pulse 2s infinite;
}

#dashboard .live-value:before{
  display: block;
  position: absolute;
  content: '';
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  top: .25em;
  left: -.25em;
  background: #ffffff;
  animation: pulse 2s infinite;
}
#dashboard .live-value-r:before{
  display: block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: .2em;
  right: -1rem;
  animation: pulse 2s infinite;
}
.live-value-w:before {
  background: #ffffff;
}
.live-value-b:before {
  background: #666666;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#dashboard {
  background: #eaeaea;
  color: #666666;
  overflow: hidden;
}

#close_dashboard a{
  position: absolute;
  z-index: 100;
  top: 2.5em;
  right: 5vw;
  text-indent: -875em;
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  background: #FFF url(/assets/svgs/close_blue.svg) no-repeat center!important;
  background-size: 15px!important;
}

#claim_container{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

#dashboard #cover {
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  background: linear-gradient(0deg, #46bac4, 60%, #55be5a);
}

#dashboard header {
  position: fixed;
  background: #909090;
  border-bottom: 1px solid #000;
  color: #fff;
  z-index: 3;
  box-shadow: 0 .5rem 2.5rem -.05rem #909090;
  opacity: 0;
}
#dashboard header ul li:not(:last-child) {
  margin-right: 3rem;
}

#dashboard .races-list {
  overflow: hidden;
  position: relative;
  margin-bottom: 2vw;
}
#dashboard .races-list:before,
#dashboard .races-list:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 6rem;
  opacity: 1;
  background: linear-gradient(90deg,
                              rgba(234, 234, 234, 1), 10%,
                              rgba(234, 234, 234, .5) 80%,
                              rgba(234, 234, 234, 0)  100%);
  z-index: 2;
}
#dashboard .races-list:after {
  right: 0;
  background: linear-gradient(270deg,
                              rgba(234, 234, 234, 1), 10%,
                              rgba(234, 234, 234, .5) 80%,
                              rgba(234, 234, 234, 0)  100%);
}
#dashboard .races-list ul {
  transform: translateX(-65vw);
}
#dashboard .races-list ul li {
  min-width: 20vw;
  opacity: .5;
}
#dashboard .races-list ul li.active {
  opacity: 1;
  color: #000000;
}

#dashboard .races-list ul li h4 {
  line-height: .9em;
  margin-bottom: 0;
}
#dashboard .races-list ul li p {
  line-height: 1em;
}

#dashboard section {
  position: relative;
  z-index: 1;
  margin: 10rem 0;
  margin-top: 0;
  padding: 10rem 6vw;
  padding-top: 0;
  /*border-bottom: 1px solid #acacac;*/
}
#dashboard section:after {
  content: '';
  position: absolute;
  z-index: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #acacac;
}
#dashboard section:first-of-type {
  padding-top: 10rem;
}
#dashboard section:last-of-type {
  margin-bottom: 0;
}

#dashboard .tooltip {
  box-shadow: 0rem 0.5rem 6.5rem rgba(0, 0, 0, 0.25);

}

#dashboard .tooltip h4{
  line-height: inherit;
}

#dashboard .tooltip label.unit{
  display: inline-block;
  padding-left: .5em;
}

#dashboard .tooltip .number-lg{
  line-height: 1em;
}

#dashboard section#paddock {
  z-index: 0;
}
/*#dashboard section#paddock:before {
  content: '';
  position: absolute;
  background: url(/assets/svgs/car_top.svg);
  transform: rotate(-30deg);
  background-size: 30vw;
  width: 170vw;
  height: 47vw;
  top: -10vw;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 35vw;
    top: -2.5vw;
    left: -15vw;
  opacity: 0.7;
  z-index: -1;
}*/

#paddock_icon_container{
  width: 75px;
  padding-top: 3rem;
}

#paddock_button_container{
    -ms-flex-direction: column!important;
        flex-direction: column!important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

#paddock_button_container a{
  width: 100%;
  margin-bottom: 1em;
}

#dashboard #paddock .component-bg{
}

#dashboard #paddock area-chart{
  margin-left: 1em;
}

#dashboard section#stand {
  padding-bottom: 5rem;
}

#paddock_button_container{
  display: -ms-flexbox;
  display: flex;
}

#paddock #teamAreaChart{
    margin-left: 10px;
}

#paddock #teamAreaChart .axis text {
    font-family: sans-serif;
    fill: white;
    /*fill: #237244;*/
    opacity: 1;
    font-size: 9px;
}

#dashboard .component-bg {
  position: relative;
  margin-bottom: 5rem;
  color: #fff;
  z-index: 1;
}

#dashboard .component-bg:before {
  content: "";
  position: absolute;
  background: transparent;
  width: 85%;
  height: .7em;
  bottom: 2em;
  left: 50%;
  transform: translate(-50%);
  box-shadow: -2.5rem 0.5rem 6.5rem rgba(0, 0, 0, 0.85), 2.5rem 1rem 4.5rem rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#dashboard .component-bg .overlay {
  position: absolute;
  z-index: 2;
  margin: 0;
  pointer-events: none;
}
#dashboard .component-bg .overlay-top-left {
  text-align: left;
  top: 2vw;
  left: 3vw;
}
#dashboard .component-bg .overlay-right {
  text-align: right;
  right: 4vw;
  top: 40%;
}

#dashboard streamgraph {
  padding: 0 3vw;
  background: linear-gradient(180deg, rgb(75, 187, 163), 60%, rgb(85, 190, 90));
  /*background-position-y: 10vw;*/
  background-repeat: no-repeat;
}

#disclaimer_text{
  opacity: .8;
}

#dashboard area-chart {
  background: linear-gradient(180deg, #fc1c63, 60%, #a466a0);
  /*background-position-y: 6vw;*/
  background-repeat: no-repeat;
}

#dashboard #monitor {
  /*margin-bottom: 10rem;*/
  margin-bottom: 0;
}

#dashboard #monitor h3{
  margin: 0;
  font-size: 2em;
  letter-spacing: -0.01em;
}

#dashboard #monitor p{
  font-size: 1.5rem;
  margin: 0;
  color: #4A4A4A;
  letter-spacing: 0;
}

#dashboard snippet-carousel {
  min-height: 25vh;
  margin-top: 10rem;
}
#dashboard snippet-carousel snippet-card {
  height: 26vh;
}
#dashboard snippet-carousel snippet-card .info_block.info {
  width: 60%;
}
#dashboard snippet-carousel #exit {
  display: none;
}
#dashboard .carousel_controls {
  display: none;
}

#dashboard #paddock .component-bg {
  margin-bottom: 5rem;
}
#dashboard #paddock .selection .info_block {
  margin: 0;
  margin-bottom: 2rem;
}
#dashboard #paddock .selection a {
  display: inline-block;
  color: #fc1c63;
  padding: .1rem 0;
  padding-bottom: .3rem;
  margin-right: 2rem;
  width: 5rem;
  min-width: 5rem;
  background: #fc1c63;
}
#dashboard #paddock .selection a:before {
  content: '';
  display: inline-block;
  position: relative;
  left: 1rem;
  top: .2rem;
  height: 1.4rem;
  width: 1.4rem;
  border-radius: 50%;
  transition: left .3s;
  background: #ffffff;
}
#dashboard #paddock .selection a.active {
  background: transparent;
}
#dashboard #paddock .selection a.active:before {
  left: -1rem;
  background: #fc1c63;
}

#dashboard button.btn-small.btn-outline,
#dashboard .btn-small.btn-outline {
  border-radius: 1.5em;
}

#dashboard #energy_mix ul,
#dashboard #balance ul {
  margin: 0;
  padding: 0;
}
#dashboard #energy_mix ul li,
#dashboard #balance ul li {
  max-width: 50rem;
}
#dashboard #energy_mix ul li .component-bg,
#dashboard #balance ul li .component-bg {
  margin-bottom: 0;
}
#dashboard #balance ul li .component-bg .info_block,
#dashboard #energy_mix ul li .component-bg .info-wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 1rem 3rem 3rem;
  background: linear-gradient(180deg, rgb(75, 187, 166), 60%, rgb(90, 199, 96));
}

#dashboard #energy_mix ul li .info-block{
}

#dashboard #energy_mix .mix .info {
  width: 100%;
}

#dashboard #energy_mix .temp .info {
  background: url(/assets/svgs/dash_mix_temporary.svg) no-repeat right center;
}

#dashboard #energy_mix .clean .info {
  background: url(/assets/svgs/dash_mix_cleanenergy.svg) no-repeat right center;
}

#dashboard #energy_mix .grid .info {
  background: url(/assets/svgs/dash_mix_urbangrid.svg) no-repeat right center;
}


#dashboard #energy_mix .mix .info .label-lg{
  width: 70%;
}


#dashboard #balance ul li div:last-child {
  padding-left: 4rem;
}
#dashboard #balance .zone_balance .percentage {
  margin-top: 1.5rem;
  width: 100%;
  position: relative;
  margin-bottom: .5rem;
}
#dashboard #balance .zone_balance .percentage-bar,
#dashboard #balance .zone_balance .percentage:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: -1rem;
  left: 0;
  height: .5rem;
}
#dashboard #balance .zone_balance .percentage-bar {
  width: 0;
  background: #ffffff;
  opacity: 1;
}
#dashboard #balance .zone_balance .percentage:after {
  background: #ffffff;
  opacity: .4;
}

#dashboard #balance {
  padding-top: 15rem;
}
#dashboard #balance .meters {
  margin-bottom: 6rem;
  position: relative;
}
#dashboard #balance ul,
#dashboard #balance h2,
#dashboard #balance div[grid] {
  position: relative;
  z-index: 3;
}
#dashboard #balance .meters .circuit-image {
  position: absolute;
  height: 50vw;
  max-width: 70vw;
  top: -150%;
  left: 50%;
  transform: translateX(-50%);
}
#dashboard #balance .circuit-image img {
  position: relative;
  width: 60vw;
  height: auto;
  top: 2rem;
  z-index: -1;
}

.zone_balance_equivalent{
  background-size: contain;
  padding-left: 4.5em;
}

.zone_balance_equivalent.houses{
  background: url(/assets/svgs/dash_comparison_small_house.svg) no-repeat left center;
}

.zone_balance_equivalent.phones{
  background: url(/assets/svgs/dash_comparison_phone.svg) no-repeat left center;
}


#dashboard #energy_mix ul li .component-bg .info-wrap {
  padding-top: 0;
  padding-bottom: 0;
}



#dashboard #energy_mix .mix .info label.title_label {
  width: 70%;
  border-bottom: .1vh solid #fff;
  padding-bottom: .5vh;
  margin-bottom: 1vh;
  font-size: 1.8vh;
  line-height: 120%;
}

#dashboard label.unit{
  display: block;
  margin-top: 0 em;
}

.zone_balance .unit{
  display: block;
  padding-top: .5em;
}

.cursor_title {
  padding-left: 2rem;
  border-left: 1em solid;
  margin-bottom: 4rem;
}

.live {
  position: relative;
}
/*.live:after {
  content: '.';
  position: absolute;
  top: 0;
  line-height: 0;
  right: 0.4em;
    content: '°';
    right: 0.8em;
    font-size: .5em;
    line-height: 1.6em;
}*/
.number-lg {
  /*margin-top: 2rem;*/
  /*font-size: 4.2rem;*/
  font-size: 3.1vw;
}

.tooltip .number-lg {
  font-size: 4.2rem;
}

.meters{
  background: url(/assets/svgs/dash_meter.svg) no-repeat left center;
   background-size: 60px;

  padding-left: 5em;
}

@media screen and (max-width: 52em) {
  #dashboard #balance,
  #dashboard #energy_mix {
    padding-left: 0;
    padding-right: 0;
  }

  #dashboard #balance,
  #dashboard #energy_mix {
    overflow: hidden;
  }

  #dashboard #balance ul {
    transform: translateX(-10vw);
  }
  #dashboard #energy_mix ul {
    transform: translateX(-25vw);
  }
  #dashboard #balance ul li {
    min-width: 40vw;
    min-height: 30vw;
  }
  #dashboard #energy_mix ul li {
    min-width: 50vw;
    min-height: 20vw;
  }
  #dashboard #balance ul li .number-lg,
  #dashboard #energy_mix ul  li .number-lg{
    font-size: 6rem;
    line-height: 1.1em;
  }

  #dashboard #balance .content-wrap,
  #dashboard #energy_mix .content-wrap {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media screen and (max-width: 40em) {
  .mobile header h4 {
    display: none;
  }

  .cursor_title {
    font-size: 1.9rem;
  }

  #dashboard .races-list ul {
    transform: translateX(-100vw);
  }
  #dashboard .races-list ul li {
    min-width: 40vw;
  }

  #dashboard snippet-carousel {
    margin-top: 2.5rem;
  }

  #dashboard #balance ul {
    transform: translateX(-40vw);
  }
  #dashboard #energy_mix ul {
    transform: translateX(-50vw);
  }
  #dashboard #balance ul li {
    min-width: 60vw;
    min-height: 30vw;
  }
  #dashboard #energy_mix ul li {
    min-width: 65vw;
  }
  #dashboard #balance ul li .number-lg,
  #dashboard #energy_mix ul  li .number-lg{
    font-size: 4rem;
    line-height: 1em;
  }
  #dashboard #balance {
    padding-top: 10rem;
  }
  #dashboard #balance .meters {
    -ms-flex-align: start;
        align-items: flex-start
  }
  #dashboard #balance .meters .circuit-image {
    top: -25%;
    right: 25%;
  }

  #dashboard .live-text:before,
  #dashboard .live-value:before,
  #dashboard .live-value-r:before {
    height: 2vw;
    width: 2vw;
  }
  #dashboard #balance .live-value-r:before {
    top: .1em;
    right: -.4em;
  }
}

#teamAreaChart .axis text{
  font-family: sans-serif;
  fill: white;
  font-size: 7px;
}

#teamAreaChart .axis path,
#teamAreaChart .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#teamAreaChart .area1 {
  fill: url(#teamAreaChart_bl1);
}
#teamAreaChart .area2 {
  fill: url(#teamAreaChart_bl2);
}

streamgraph {
  position: relative;
}

#streamgraph {
  /*border-bottom: 1px solid rgba(0,0,0,.3);*/
}
#streamgraph #cursor rect {
  fill: #fff;
}
#streamgraph .axis .domain {
  fill: none;
  stroke: none;
}
#streamgraph .x.axis{
  opacity: 0.5;
  font-size: .6rem;
}
#streamgraph .x.axis line {
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#streamgraph .x.axis.line line {
  stroke-dasharray: 1, 5;
}

streamgraph .tooltip {
  position: absolute;
  z-index: 10;
  width: 19rem;
  height: 8rem;
  padding: .8rem;
  background: #fff;
  color: #008C5A;
  font-size: 1.4rem;
}

streamgraph .tooltip h4 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}
streamgraph .tooltip .number-lg {
  line-height: 1.8rem;
  margin: 0;
}

streamgraph .vertical {
  position: absolute;
  z-index: 9;
  height: 98.5%;
  width: 1px;
  background: #fff;
}

#cursor rect {
  fill: #fff;
}

#battery_container {
}

#battery_body_container {
  position: absolute;
  top: 1rem;
  width: 100%;
}
#battery_cover svg {
  position: absolute;
  top: -1rem;
}
#battery_points svg {
  position: absolute;
  top: 15.8rem;
  width: 1rem;
  height: 1rem;
  left: 35.5rem;
}

#battery_power_phone svg {
  position: absolute;
  top: 16.2rem;
  left: -0.6rem;
}

#battery_brake svg {
  position: absolute;
  top: 0.7rem;
}
#battery_brake_points svg {
  position: absolute;
  top: 16.1rem;
  width: 5rem;
  left: 19.7rem;
}

#battery_boost_simon svg {
  position: absolute;
  top: 0.7rem;
}

#sun_rays g line {
  stroke-dasharray: 12;
  animation: dash 92s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
#v2g_container{
	overflow: hidden;
	height: 190px;
	margin-bottom: 2rem;
}

#v2g_container svg{
	height: 190px;
}


#cable_electricity_in {
  stroke-dasharray: 2, 12;
  animation: dash 20s linear infinite;
}

#cable_electricity_out {
  stroke-dasharray: 2, 12;
  animation: dashInverse 20s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes dashInverse {
  to {
    stroke-dashoffset: 1000;
  }
}
g#sun_rays line {
  stroke-dasharray: 3,6;
  animation: dash 82s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
#cable_fast{
  stroke-dasharray: 2, 7;
  animation: dashfast 15s linear infinite;
}

#cable_slow{
  stroke-dasharray: 2, 8;
  animation: dashslow 90s linear infinite;
}

@keyframes dashfast {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes dashslow {
  to {
    stroke-dashoffset: -1000;
  }
}
.enel-stand{
	margin-top: 3em;
}

efficiency svg{
	position: relative;
	bottom: 2rem;
  left: 0;
}

.border_bottom{
	border-bottom: 1px solid;
	padding-bottom: 1em;
}

#landing #snippet-carousel .snip p.note{
	font-size: 11px;
	line-height: 1.3em;
}
snippet-card[size*="full"] {
  position: absolute;
  width: 42vh;
  height: 68vh;
  opacity: 0;
  color: #ffffff;
}
snippet-card {
  background: linear-gradient(180deg, #41b9e6, #0555fa);
}
snippet-card > div.content {
  -ms-flex: 2 0 0% !important;
      flex: 2 0 0% !important;
  background: linear-gradient(180deg, #2383e5, #0451ef);
}

snippet-card > .content-parent[layout*="column"][layout*="stretch-"]{
  -ms-flex: 0 1 auto !important;
      flex: 0 1 auto !important;
}

snippet-card .content-parent > .info-block {
  -ms-flex: 0 1 auto !important;
      flex: 0 1 auto !important;
}



/*snippet-card:after {
  content: "";
  position: absolute;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2), 0 10px 35px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 85%;
  z-index: -1;
}*/
snippet-card {
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2), 0 10px 35px rgba(0, 0, 0, 0.1);
}

snippet-card h2 {
  font-size: 3.5vh;
  line-height: 120%;
}
snippet-card p {
  font-size: 1.8vh;
  line-height: 2.4vh;
  margin-bottom: .65em;
}

snippet-card .label-sm{
  font-size: 1.75vh;
}

snippet-card .number-lg {
  font-size: 4.2vh;
}
snippet-card .note {
  font-size: 1.4vh;
}
snippet-card .info_block {
  margin-top: 2.5vh;
  margin-bottom: 3vh;
}
snippet-card .info_block.half-margin {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}
snippet-card > div > .info_block {
  padding: 0 3vh;
}
snippet-card > div.content > div > .info_block {
  padding: 0 3vh;
  position: absolute;
  z-index: 1;
}
snippet-card > div.content .animation {
  position: relative;
  width: 70%;
  right: -12.5vh;
  bottom: -6vh;
}
snippet-card > div.content.sub-snippet > div:not(.info-block) > svg {
  position: absolute;
  width: 100%;
  right: auto;
  margin: 0 auto;
  bottom: 0;
}

snippet-card > div.content.sub-snippet > div {
  position: relative;
}

/* card styles */
snippet-card > div {
  padding-bottom: 0;
}

snippet-card .info_block > div[layout~=row] > .info_block:first-child:not(:only-child) {
  margin-right: 1vh;
}

snippet-card .info_block > div[layout~=row] > .info_block:last-child:not(:only-child) {
  margin-left: 1vh;
}

snippet-card .info_block > label {
  border-bottom: .1vh solid #fff;
  padding-bottom: .5vh;
  margin-bottom: 1vh;
  display: block;
  text-transform: none;
  font-size: 2vh;
  line-height: 120%;
}

snippet-card span.info_note {
  opacity: .5;
  font-size: 1.4vh;
  line-height: 2vh;
  display: block;
  width: 80%;
}

snippet-card label span.info_note {
  display: inline;
  font-weight: 500;
}

snippet-card .info_block span.info_note:first-child {
  margin-top: 1.5vh;
  width: 70%;
}

snippet-card > div.content.sub-snippet > div > .info_block{
  margin-top: 1vh;
}
snippet-card .sub-snippet {
  overflow: hidden;
}

snippet-card .sub-snippet > ul {
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

snippet-card .sub-snippet > ul .note {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  font-size: 2.3vh;
  list-style: none;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.5vh;
  opacity: .5;
  transition: opacity .5s;
  margin-right: 3rem;
  cursor: pointer;
}
snippet-card .sub-snippet > ul .note.active {
  opacity: 1;
}

snippet-card .sub-snippet > ul .note:before,
snippet-card .sub-snippet > ul .note:after
{
  content: '';
  position: absolute;
  left: 0;
  top: 28%;
  width: 1.2vh;
  height: 1.2vh;
  border-bottom: .15vh solid #fff;
  border-right: .15vh solid #fff;
  transform: scaleY(.6) translate(-100%, -50%) rotate(45deg);
  display: block;
}
snippet-card .sub-snippet > ul .note:after {
  top: 50%;
}

snippet-card .info_comparator {
  display: -ms-flexbox;
  display: flex;
}
snippet-card .info_comparator .comparator_icon{
  width: 2.5vh;
  margin-right: 1vh;
}
snippet-card .info_comparator .comparator_value label{
  display: block;
  opacity: .5;
}

snippet-carousel {
  position: relative;
  /* javascript or choose full/half card size */
  width: 42vh;
  min-height: 68vh;
  /*  */
  perspective: 100rem;
  perspective-origin: center;
  display: none;
}

snippet-carousel > span {
  z-index: 1;
  position: absolute;
  font-size: x-large;
}
snippet-carousel .control_arrow, snippet-carousel span#exit {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background: white;
  fill: blue;
  width: 3.5rem;
  height: 3.5rem;
  left: 50%;
  bottom: -1.75vh;
  transform: translate(-50%, -50%);
  transition: transform .5s;
}
snippet-carousel span#prev, snippet-carousel .carousel-controls span#prev {
  transform: rotate(180deg)
}

snippet-carousel span#next.tour-next {
  transform: translate(-50%, -50%) scale(1.5);
}

snippet-carousel .control_arrow{
  background: #FFF url(/assets/svgs/right_arrow_blue.svg) no-repeat center!important;
  background-size: 15px!important;
  padding:.7em;
  bottom: -1.3em!important;
  text-indent: -843em;
}

snippet-carousel > span#exit {
  background: none;
  top: .5rem;
  right: -1.5rem;
  left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transform: translateX(-50%);
  width: 5.5vh;
  height: 5.5vh;
  z-index: 10;
  opacity: .6;
  cursor: pointer;
}

span#exit svg {
  fill: #0555f9;
  width: 70%;
  height: 70%;
  display: block;
}

snippet-carousel .carousel_control {
  cursor: pointer;
}

snippet-carousel .carousel_controls {
  height: 10vh;
  background: #0555f9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 3vh;
}

snippet-carousel .carousel_controls .control_arrow {
  transform: none;
}
snippet-carousel .carousel_controls .dots_container span {
  height: 100%;
}
snippet-carousel .carousel_controls .dots_container span {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  margin: 0 1vh;
  transition: transform .5s;
}

snippet-carousel .carousel_controls .dots_container span.active {
  transform: scale(2);
}