/*****************************************
  EXTEND FLEX-LAYOUT-ATTRIBUTE
  Simple 12 grid layout definition
  Define column width and columns gutter
*****************************************/

[grid~="1of12"]  { width: 8.33333%; }
[grid~="2of12"]  { width: 16.66667%; }
[grid~="3of12"]  { width: 25%; }
[grid~="4of12"]  { width: 33.33333%; }
[grid~="5of12"]  { width: 41.66667%; }
[grid~="6of12"]  { width: 50%; }
[grid~="7of12"]  { width: 58.33333%; }
[grid~="8of12"]  { width: 66.66667%; }
[grid~="9of12"]  { width: 75%; }
[grid~="10of12"] { width: 83.33333%; }
[grid~="11of12"] { width: 91.66667%; }
[grid~="12of12"] { width: 100%;
}

[self~="full"] { width: 100%; }

/*
[grid-gutter] > [grid~="1of12"]  { width: 6.25%;}
[grid-gutter] > [grid~="2of12"]  { width: 14.7%; }
[grid-gutter] > [grid~="3of12"]  { width: 23.3%; }
[grid-gutter] > [grid~="4of12"]  { width: 31.8%; }
[grid-gutter] > [grid~="5of12"]  { width: 40.35%; }
[grid-gutter] > [grid~="6of12"]  { width: 48.9%; }
[grid-gutter] > [grid~="7of12"]  { width: 57.35%; }
[grid-gutter] > [grid~="8of12"]  { width: 65.9%; }
[grid-gutter] > [grid~="9of12"]  { width: 74.45%; }
[grid-gutter] > [grid~="10of12"] { width: 83%; }
[grid-gutter] > [grid~="11of12"] { width: 91.5%; }
[grid-gutter] > [grid~="12of12"] { width: 100%; }
*/

[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:nth-child(n),
[grid-gutter]:not([layout*="column"]) > [grid]:nth-child(n) { margin-left:  1.05vw;
                                                              margin-right: 1.05vw; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:first-child,
[grid-gutter]:not([layout*="column"]) > [grid]:first-child  { margin-left:  0; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:last-child,
[grid-gutter]:not([layout*="column"]) > [grid]:last-child   { margin-right: 0; }
[grid-layout="grid-gutter"]:not([layout*="column"]) > [grid]:only-child,
[grid-gutter]:not([layout*="column"]) > [grid]:only-child   { margin-right: 0;
                                                              margin-left:  0; }

[grid-layout="grid-gutter"] > [grid~="1of12"],
[grid-gutter] > [grid~="1of12"]  { width: 5.35vw; }
[grid-layout="grid-gutter"] > [grid~="2of12"],
[grid-gutter] > [grid~="2of12"]  { width: 12.75vw; }
[grid-layout="grid-gutter"] > [grid~="3of12"],
[grid-gutter] > [grid~="3of12"]  { width: 20.25vw; }
[grid-layout="grid-gutter"] > [grid~="4of12"],
[grid-gutter] > [grid~="4of12"]  { width: 27.65vw; }
[grid-layout="grid-gutter"] > [grid~="5of12"],
[grid-gutter] > [grid~="5of12"]  { width: 35.05vw; }
[grid-layout="grid-gutter"] > [grid~="6of12"],
[grid-gutter] > [grid~="6of12"]  { width: 42.55vw; }
[grid-layout="grid-gutter"] > [grid~="7of12"],
[grid-gutter] > [grid~="7of12"]  { width: 49.85vw; }
[grid-layout="grid-gutter"] > [grid~="8of12"],
[grid-gutter] > [grid~="8of12"]  { width: 57.35vw; }
[grid-layout="grid-gutter"] > [grid~="9of12"],
[grid-gutter] > [grid~="9of12"]  { width: 64.75vw; }
[grid-layout="grid-gutter"] > [grid~="10of12"],
[grid-gutter] > [grid~="10of12"] { width: 72.15vw; }
[grid-layout="grid-gutter"] > [grid~="11of12"],
[grid-gutter] > [grid~="11of12"] { width: 79.55vw; }
[grid-layout="grid-gutter"] > [grid~="12of12"],
[grid-gutter] > [grid~="12of12"] { width: 87vw;
}

[self~="hide"] {
  display: none;
}

@media screen and (max-width: 64em) {
  [grid-layout="grid-gutter"] > [grid~="lg-1of12"],
  [grid-gutter] > [grid~="lg-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-2of12"],
  [grid-gutter] > [grid~="lg-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-3of12"],
  [grid-gutter] > [grid~="lg-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-4of12"],
  [grid-gutter] > [grid~="lg-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-5of12"],
  [grid-gutter] > [grid~="lg-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-6of12"],
  [grid-gutter] > [grid~="lg-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-7of12"],
  [grid-gutter] > [grid~="lg-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-8of12"],
  [grid-gutter] > [grid~="lg-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-9of12"],
  [grid-gutter] > [grid~="lg-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-10of12"],
  [grid-gutter] > [grid~="lg-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-11of12"],
  [grid-gutter] > [grid~="lg-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="lg-12of12"],
  [grid-gutter] > [grid~="lg-12of12"] { width: 87vw;
  }

  [self~="lg-show"] {
    display: inherit; }
}
@media screen and (max-width: 52em) {
  [grid-layout="grid-gutter"] > [grid~="md-1of12"],
  [grid-gutter] > [grid~="md-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="md-2of12"],
  [grid-gutter] > [grid~="md-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="md-3of12"],
  [grid-gutter] > [grid~="md-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="md-4of12"],
  [grid-gutter] > [grid~="md-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="md-5of12"],
  [grid-gutter] > [grid~="md-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="md-6of12"],
  [grid-gutter] > [grid~="md-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="md-7of12"],
  [grid-gutter] > [grid~="md-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="md-8of12"],
  [grid-gutter] > [grid~="md-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="md-9of12"],
  [grid-gutter] > [grid~="md-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="md-10of12"],
  [grid-gutter] > [grid~="md-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="md-11of12"],
  [grid-gutter] > [grid~="md-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="md-12of12"],
  [grid-gutter] > [grid~="md-12of12"] { width: 87vw;
  }

  [self~="md-show"] {
    display: inherit; }
}
@media screen and (max-width: 40em) {
  [grid-layout="grid-gutter"] > [grid~="sm-1of12"],
  [grid-gutter] > [grid~="sm-1of12"]  { width: 5.35vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-2of12"],
  [grid-gutter] > [grid~="sm-2of12"]  { width: 12.75vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-3of12"],
  [grid-gutter] > [grid~="sm-3of12"]  { width: 20.25vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-4of12"],
  [grid-gutter] > [grid~="sm-4of12"]  { width: 27.65vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-5of12"],
  [grid-gutter] > [grid~="sm-5of12"]  { width: 35.05vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-6of12"],
  [grid-gutter] > [grid~="sm-6of12"]  { width: 42.55vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-7of12"],
  [grid-gutter] > [grid~="sm-7of12"]  { width: 49.85vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-8of12"],
  [grid-gutter] > [grid~="sm-8of12"]  { width: 57.35vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-9of12"],
  [grid-gutter] > [grid~="sm-9of12"]  { width: 64.75vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-10of12"],
  [grid-gutter] > [grid~="sm-10of12"] { width: 72.15vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-11of12"],
  [grid-gutter] > [grid~="sm-11of12"] { width: 79.55vw; }
  [grid-layout="grid-gutter"] > [grid~="sm-12of12"],
  [grid-gutter] > [grid~="sm-12of12"] { width: 87vw;
  }

  [self~="sm-show"] {
    display: inherit; }
}

header[grid-layout],
header[grid-gutter],
section[grid-layout],
section[grid-gutter],
footer[grid-layout],
footer[grid-gutter] {
  padding: 0 6.5vw;
}

.overlay-grid-test {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}
.overlay-grid-test [grid] {
  height: 100%;
  background: rgba(0,0,0,.2);
}

@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd-Light";
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix");
    src:url("../assets/fonts/1475948/1215ed91-313a-4dda-99be-3acf61484452.eot?#iefix") format("eot"),url("../assets/fonts/1475948/db1e9a24-d371-4686-ba25-77b32a84e0db.woff2") format("woff2"),url("../assets/fonts/1475948/beca77d5-0862-440e-bddd-321e82d5422c.woff") format("woff"),url("../assets/fonts/1475948/a27ea012-0910-47ac-8294-40726e5a8fd3.ttf") format("truetype");
    font-weight: 100;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix");
    src:url("../assets/fonts/1475960/18c81410-3496-4c82-aefd-df42506addc3.eot?#iefix") format("eot"),url("../assets/fonts/1475960/938b61cf-8b60-408a-a252-531fc37ebeb3.woff2") format("woff2"),url("../assets/fonts/1475960/df8a7a82-1b14-40c7-b6f8-7e2bac922b27.woff") format("woff"),url("../assets/fonts/1475960/c7989e6f-ecdd-41d3-bb56-4e3f087847e6.ttf") format("truetype");
    font-weight: 300;
}
@font-face{
    font-family:"UniversLTStd";
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix");
    src:url("../assets/fonts/1475972/1c24e174-d1d8-49de-98ac-09d77eccf0e7.eot?#iefix") format("eot"),url("../assets/fonts/1475972/73d8af9e-4b82-4953-81a5-8941aed30297.woff2") format("woff2"),url("../assets/fonts/1475972/19ff06fe-d0c5-4294-a237-a4c9b85312b8.woff") format("woff"),url("../assets/fonts/1475972/ff00799e-9823-48a0-a789-5f2d2e509fd7.ttf") format("truetype");
    font-weight: 500;
}

.u100{
  font-family: 'UniversLTStd';
  font-weight: 100;
}

.u300{
  font-family: 'UniversLTStd';
  font-weight: 300;
}

.u500{
  font-family: 'UniversLTStd';
  font-weight: 500;
}

.u14{
  font-size: 14px;
}

.u20{
  font-size: 20px;
}

.u30{
  font-size: 30px;
}

.u40{
  font-size: 40px;
}

/***********************************
  MAIN APP STYLE DEFINITIONS
  Define all global elements style
***********************************/

html, body, main {
  width: 100vw;
  min-height: 100vh;
  font-size: 10px; /* Initialize 1rem to 10px */
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}
body, main {
  font-family: 'UniversLTStd';
  font-weight: 100;
  font-size: 1.8rem; /* Set default font size (16px ~= 12pt) */
  line-height: 1.5em;
}

hgroup {
  margin-top: 2.5rem;
  margin-bottom: 5rem;
}
h1, h2, h3, h4 {
  font-weight: 100;
  font-family: 'UniversLTStd-Light';

}
h2, h3, h4 {
  margin: 0.5rem 0;
  line-height: 1.4em;
}
h1 {
  margin: 1rem 0;
  font-size: 8rem;
  letter-spacing: .2rem;
  line-height: 1.6em;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.2rem;
  letter-spacing: 0.135rem;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.8rem;
  font-weight: 500;
}
p {
  margin: .5rem 0;
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 0.08rem;
}
img{

}
small,
label,
figure figcaption {
  font-size: 1.4rem;
  line-height: 1.7rem;
}
label {
  font-weight: 500;
  text-transform: uppercase;
}
label.label-sm {
  font-weight: 100;
  text-transform: none;
}
label.label-lg {
  font-weight: 100;
  font-size: 2.2rem;
  letter-spacing: 0.135rem;
  text-transform: none;
}

nav ul {
  margin: 1.5rem 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: .05rem;
  font-weight: 300;
  line-height: 1.8rem;
  color: inherit;
}
nav ul.ul-outline li {
  padding: 1rem 1rem .7rem;
  background: transparent;
  border: .2rem solid;
  text-transform: uppercase;
}
nav ul.ul-outline li.active {
  background: inherit;
}
/* consider create ul basing on flex layout */
nav[nav-gutter] ul[layout*="row"] { width: auto; }
nav[nav-gutter] ul[layout*="row"] li:nth-child(n) { margin-left:  .75vw;
                                                    margin-right: .75vw;
                                                  }
nav[nav-gutter] ul[layout*="row"] li:first-child  { margin-left: 0 }
nav[nav-gutter] ul[layout*="row"] li:last-child   { margin-right: 0 }
/*  */
nav[nav-gutter] ul[layout*="column"] li:nth-child(n) { margin-top: .75vh;
                                                       margin-bottom: .75vh;
                                                     }
nav[nav-gutter] ul[layout*="column"] li:first-child  { margin-top: 0 }
nav[nav-gutter] ul[layout*="column"] li:last-child   { margin-bottom: 0 }
/*  */
nav.pagination {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1em;
}
nav.pagination span:first-child,
nav.pagination span:last-child {
  cursor: pointer;
}
nav.pagination span:first-child:after {
  content: 'prev';
}
nav.pagination span:last-child:before {
  margin-right: .5rem;
  content: 'next'
}
nav.pagination span:first-child{
  padding-left: 1em;
  padding-right: 2em;
}
nav.pagination span svg, nav.pagination span svg .st0{
  stroke: #fff;
}
nav.pagination span:last-child{
  padding-right: 1em;
  padding-left: 2em;
}

nav.pagination span svg, #landing nav.pagination span svg .st0{
  width: 1rem;
  height: 1.2rem;
  stroke: #FF0F64;
}

button.disabled, button[disabled],
a.disabled, a[disabled],
ul li.disabled, ul li[disabled],
nav.pagination span.disabled,
nav.pagination span[disabled] {
  opacity: .5;
  pointer-events: none;
}

button,
a.btn-outline {
  font-size: 1.6rem;
  letter-spacing: .05rem;
  font-weight: 300;
  line-height: 1.8rem;
  text-transform: uppercase;
  color: inherit;
  text-align: center;
  cursor: pointer;
}
button.btn-small,
.btn-small {
  font-size: 1.4rem;
}
button.btn-outline,
.btn-outline {
  min-width: 22.2rem;
  padding: 1.8rem 1.5rem 1.5rem;
  background: transparent;
  border: 2px solid;
}
button.btn-small.btn-outline,
.btn-small.btn-outline {
  padding: 1rem 2rem .7rem;
}
button.btn-hamburger {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  background: transparent;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  outline: none;
}
button.btn-hamburger span,
button.btn-hamburger span::before,
button.btn-hamburger span::after {
  display: block;
  content: "";
  background: #fff;
  position: absolute;
  top: 50%;
  width: 100%;
  height: .3rem;
  margin-top: -.2rem;
  left: 0;
  transition: all .25s ease-in-out;
}
.mobile button.btn-hamburger span,
.mobile button.btn-hamburger span::before,
.mobile button.btn-hamburger span::after {
  transition: none;
}
button.btn-hamburger span::before {
  margin: 0;
  top: -.8rem;
}
button.btn-hamburger span::after {
  margin: 0;
  top: .8rem;
}
button.btn-hamburger.close span {
  background: transparent;
}
button.btn-hamburger.close span::before {
  transform: rotate(45deg);
  top: 0;
}
button.btn-hamburger.close span::after {
  transform: rotate(-45deg);
  top: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

figure img,
figure video,
figure figcaption {
  width: 100%;
}
figure figcaption {
  font-weight: 300;
}

svg *,
svg, svg g, svg path, svg text,
.noselect, .noselect * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
svg::-moz-selection, svg *::-moz-selection,
svg g::-moz-selection, svg path::-moz-selection, svg text::-moz-selection,
.noselect::-moz-selection,
.noselect *::-moz-selection {
  background: rgba(0,0,0,0);
}
svg::selection, svg *::selection,
svg g::selection, svg path::selection, svg text::selection,
.noselect::selection,
.noselect *::selection {
  background: rgba(0,0,0,0);
}

.logo-lg {
  /*width: 28rem;*/
  width: 12rem;
}

.number-lg {
  font-size: 2.4rem;
  line-height: 3.5rem;
}
.number-xlg {
  font-size: 6rem;
  line-height: 1.1em;
}
.number-xxlg {
  font-size: 8rem;
  line-height: 1.1em;
}
.number-lg   .unit::before,
.number-xlg  .unit::before,
.number-xxlg .unit::before,
.time        .unit::before {
  content: ' ';
}

.info_block {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
}
.info_block > label {
  display: block;
}

@media screen and (max-width: 64em) {
  html, body, main {
    font-size: 9px;
  }
  body, main {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 52em) {
  html, body, main {
    font-size: 8px;
  }
  body, main {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 40em) {
  html, body, main {
    font-size: 8px;
  }
  body, main {
    font-size: 1.8rem;
  }

  .logo-lg {
    /*width: 22rem;*/
    width: 15rem;
  }
}

/* inside snippets */
#snippet nav.pagination span.next_btn{
  line-height: 1em;
  padding-right: 1em;
}

#snippet nav.pagination span.prev_btn{
  line-height: 1em;
  padding-left: 1em;
}


/**footer*/
footer .footer-copyright, .footer-legal-links{
  display: inline-block;
  vertical-align: middle;
  margin: 5px 0;
}

.footer-legal li {
  font-size: 14px;
  line-height: 142.85714%;
  display: inline-block;
  float: left;
  position: relative;
}

.footer-legal-links li{
  font-size: 14px;
  letter-spacing: 0;
  line-height: 142.85714%;
  margin: 0 10px 13px 0;
  padding-right: 10px;
}

.footer-copyright li {
  margin: 0 10px 13px 0;
  padding-right: 10px;
}

.footer-legal-links a {
  color: #41b9e6;
}

.footer-legal-links li:first-child:after, .footer-legal li:not(:last-child):before {
  content: '';
  display: block;
  position: absolute;
  height: 14px;
  top: 3px;
  width: 1px;
}

.footer-legal-links li:before, .footer-copyright li:before {
  background: #313131;
  right: 0;
}


body {
  overflow-x: hidden;
}

#landing {
  /* for the grid */
  position: relative;
  overflow-x: hidden;
}

footer{
  background: #0a0a0a;
}

#landing header {
  position: absolute;
  margin-top: 2rem;
  padding: 0 5rem;
}

#landing #logo_container {
  margin-bottom: 6rem;
}

#landing ul.langs {
  margin: 0;
  margin-bottom: 6rem;
  padding: 0;
}
#landing ul.langs li {
  display: inline-block;
  margin: 0;
  cursor: pointer;
}
#landing ul.langs li:not(:last-of-type) {
  margin-right: 2rem;
}
#landing ul.langs li:not(:last-of-type):after {
  content: '|';
  margin-left: 2rem;
  pointer-events: none;
}

#landing #cover {
  background: linear-gradient(90deg,
                              #24BBE3 0%,
                              #0A64E0 60%);
  color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#landing #cover hgroup {
  padding: 2rem 0;
  background: url('/assets/images/cursor_bg.png');
  background-size: contain;
  background-position-x: right;
  background-repeat-x: no-repeat;
  background-repeat: repeat-y;
}
#landing #cover hgroup h1 {
  margin-bottom: 4rem;
}
#landing #cover hgroup h3 {
  font-weight: 900;
  font-size: 1.8rem;
}

#landing #cover hgroup h3 strong{
  /*font-weight: 400;*/
  font-weight: bold;
}

#landing #cover_desc img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 .8em rgba(0,0,0,.25);
}
#landing #cover_desc h4 {
  font-weight: 900;
}
#landing #cover_desc .info_block {
  font-size: 1.6rem;
  line-height: 1.3em;
  margin-top: 1rem;
  margin-right: 1rem;
}

.powering_change{
  margin-bottom: 3rem;
}

#landing #app-info {
  background: #24BBE3;
  padding-top: 5rem;
  padding-bottom: 3rem;
  position: relative;
  color: #ffffff;
}
#landing #game-info {
  background: #ffffff;
  padding-top: 5rem;
  padding-bottom: 3rem;
  position: relative;
}
#landing #app-info .btn-outline,
#landing #game-info .btn-outline {
  margin-bottom: 1.5rem;
  border: 3px solid;
  padding: 1.5rem 4rem;
  transition: all .35s ease-out;
}
#landing #game-info .btn-outline {
  color: #FF0F64;
}
#landing #app-info .btn-outline:hover {
  background: rgba(255,255,255,.3);
}
#landing #game-info .btn-outline:hover {
  background: rgba(255,15,10,.1);
}

#landing .bestviewed {
  font-size: 1.3rem;
}
#landing .bestviewed img{
  width: 16px;
  vertical-align: text-top;
}

#landing #app-info p.small{
  font-size: 1.6rem;
  opacity: 0.75;
}

#cursor_hor{
  max-width: 100%;
}

#landing #app-info .img-wraps {
  position: relative;
  min-height: 30rem;
  max-width: 100rem;
}
#landing .gif-link {
  position: absolute;
  /*top: -10%;
  right: -12vw;*/
  top: -40%;
  right: -8.5vw;
  z-index: 10;
  border: none;
}

#landing .gif-link:nth-child(2){
   z-index: 9;
  top: -35%;
}
#landing .gif-link:nth-child(3){
   z-index: 8;
  top: -35%;
}
#landing .gif-link:last-child {
  z-index: 7;
  top: -35%;
}

#landing .gif-link img {
  opacity: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  /*width: 30vw;*/
  transform: rotateZ(40deg)skewX(-15deg)skewY(-5deg);
  box-shadow: 3vw 1vw 8vw rgba(0,0,0,.1);
}

#landing #eprix {
  overflow: hidden;
}
#landing #eprix,
#landing #eprix-history {
  background: #55BE5A;
  color: #FFFFFF;
}
#landing #eprix,
#landing #eprix-history article {
  padding-top: 4.5rem;
}
#landing #eprix-history-sidebar,
#landing #eprix-history .sidebar {
  background: #0a0a0a;
  color: #FFFFFF;
}
#landing #eprix figure {
  position: relative;
  height: 35vw;
  min-height: 35rem;
  background: url(../../assets/images/city_mockup_berlin.jpg);
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  z-index: 10;
}
#landing #eprix figcaption {
  position: absolute;
  width: 105%;
  height: 50%;
  top: -2px;
  left: -10px;
  background: linear-gradient(180deg,
                              rgba(85, 190, 90, 1) 0%,
                              rgba(85, 190, 90, 1) 15%,
                              rgba(85, 190, 90, 0.8) 50%,
                              rgba(85, 190, 90, 0) 100%);
}
#landing #eprix-history nav ul {
  margin-right: 5.5rem;
}
#landing #eprix-history nav ul li{
  cursor: pointer;
}
#landing #eprix-history nav ul li.active {
  color: #55BE5A;
  background: #FFFFFF;
  border-color: #FFFFFF;
}
#landing #eprix-history .countdown,
#landing #eprix-history .btn-next-race {
  min-width: auto;
  color: #000;
}
#landing #eprix-history .countdown {
  opacity: .4;
}

#landing #eprix-history .sidebar [grid]:not(figure) {
  padding: 0 2rem;
}
#landing #eprix-history #streamgraph {
  border: none;
}
#landing #eprix-history #streamgraph .axis .tick line {
  opacity: 0;
}
#landing #eprix-history #streamgraph .axis.line .tick line {
  /*visibility: hidden;*/
  opacity: .5;
}
#landing #eprix-history .fastest .info_block {
  margin-top: 1rem;
}

.full-width {
  position: relative;
}
.full-width .full-bg {
  width: 103.1%;
  position: relative;
  /*bottom: 10rem;*/
}
#landing #eprix-history .full-width article {
  padding-top: 0;
}
.full-width .overlay-top {
  position: absolute;
  pointer-events: none;
  background: none;
  z-index: 10;
  top: 0;
}
.full-width .overlay-bottom {
  /*position: absolute;*/
  pointer-events: none;
  background: none;
  z-index: 10;
  bottom: 0;
}

#landing #feed,
#landing #snippet-info {
  background: #FFFFFF;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
#landing #snippet-info p {
  color: #666666;
}
#landing #snippet-info{
  padding-top: 7.5rem;
  overflow: hidden;
}
#landing #snippet-info > div {
  padding-left: 4rem;
}

.snip-wrapper{
  margin-bottom: 3em;
}

.fix-flex {
  -ms-flex: 1 0 0%;
      flex: 1 0 0%;
}
#landing #snippet-carousel .snip-wrapper,
#landing #snippet-carousel .snip-wrapper p {
  color: #fff;
}
#landing #snippet-carousel .snip-wrapper {
  position: relative;
  perspective: 100rem;
  height: 548px;

  perspective-origin: center;
  transform-style: preserve-3d;
}
#landing #snippet-carousel .snip {
  position: absolute;
  background-image: linear-gradient(-1deg, #41B9E6 0%, #47BBBA 0%, #55BE5A 100%);
  padding: 1rem 0;
  border-radius: 4px;
  width: 350px;
  height: 548px;
  overflow: hidden;
  box-shadow: 0 10px 100px 7px rgba(0,0,0,0.2);
}
#landing #snippet-carousel .snip > .info_block {
  padding: 0 2rem;
  margin-bottom: 0;
}
#landing #snippet-carousel .snip h2 {
  font-size: 2.5rem;
}
#landing #snippet-carousel .snip p {
  font-size: 1.4rem;
  line-height: 1.6em;
}
/*#landing #snippet-carousel .snip #v2g_container {
  max-height: 15vw;
}*/
#landing #snippet-carousel .snip #v2g_container svg {
  height: 100%;
}

#landing #snippet-carousel .snip efficiency svg{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* ie fix */
html.ms.internet.explorer #landing #snippet-carousel .snip #v2g_container {
  max-height: 35vw;
}
html.ms.internet.explorer #landing #snippet-carousel .snip #v2g_container svg {
  height: 10vw !important;
  width: 100vw;
}

#landing #feed .twitfeed-wrapper {
  overflow: hidden;
}
#landing #feed twitterwidget {
  /*display: inline-table !important;*/
  width: 27.65vw !important;
  margin-right: 2.4%;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}
#landing #feed iframe {
  display: inline-table !important;
  min-width: 27.65vw !important;
  margin-right: 2.5%;
}

#landing footer {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: #666666;
}

#landing nav.pagination span:first-child{
  padding-left: 0;
  background: none;
  padding-right: 2em;
  color: #FF0F64;
}

#landing nav.pagination span:last-child{
  padding-right: 0;
  background: none;
  padding-left: 2em;
  color: #FF0F64;
}

#landing nav.pagination span svg, #landing nav.pagination span svg .st0{
  width: 1rem;
  height: 1.2rem;
  stroke: #FF0F64;
}

#landing .video-wrapper {
  min-height: 20rem;
}

#landing .race-video {
  width: 100%;
  height: 100%;
  min-height: 20rem;
}

#landing #upcoming {
  /*background: #f5f5f5;*/
  background: #ffffff;
  padding-top: 3.5rem;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
}

#landing #upcoming .races_title_idle,
#landing #upcoming .races_title_live {
  color: #FF0F64;
  line-height: 0.9em;
  margin:0;
  margin-bottom: 1.5rem;
}
#landing #upcoming .enel_pin {
  margin-right: .5rem;
}

#landing #upcoming li h2 {
  margin:0;
}

#landing #upcoming li h2+p {
  margin:0;
  color: #4A4A4A;
}


#landing #upcoming,
#landing #upcoming nav {
  position: relative;
  /*overflow: hidden;*/
}

#landing #upcoming > div {
  margin-left: 6.5vw;
}
#landing #upcoming > nav {
  overflow: scroll;
  scroll-behavior: smooth;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
}
#landing #upcoming nav ul {
  min-width: 360vw;
  padding-left: 6.5vw;
}
#landing #upcoming nav ul li {
  position: relative;
}
#landing #upcoming nav ul li.past {
  opacity: .25;
}
#landing #upcoming nav ul li.new-york:after {
  position: absolute;
  content: '';
  width: 3rem;
  height: 3rem;
  bottom: -4rem;
  z-index: 2;
  border-left:  2rem solid transparent;
  border-right: 2rem solid transparent;
  border-top:   3rem solid #f5f5f5;
}
#landing #upcoming:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(270deg,
                              rgba(255, 255, 255, 1)   0%,
                              rgba(255, 255, 255, 0.5) 50%,
                              rgba(255, 255, 255, 0)   100%);
  width: 10rem;
  height: 100%;
  z-index: 2;
}

#landing #feed {
  background: #f5f5f5;
}

#landing footer.lockup_footer {
  background: #e2e2e2;
  padding: 2.5rem;
}

@media screen and (max-width: 64em) {
  .full-width .full-bg {
    width: 100%;
    /*bottom: 5rem;*/
  }
}

@media screen and (max-width: 52em) {
  .full-width .full-bg {
    width: 107.5%;
    /*bottom: 5rem;*/
  }
  #landing #feed twitterwidget {
    width: 42.55vw !important;
  }
  #landing #feed iframe {
    min-width: 42.55vw !important;
  }
  #landing #eprix article:last-child {
    margin-top: 0rem;
  }
  #landing #eprix figure {
    right: -6.5vw;
    background: url(../../assets/images/city_mockup_berlin.jpg);
    height: 35rem;
    background-position-x: center;
    background-position-y: center;
    background-size: 200%;
  }
}
@media screen and (max-width: 40em) {
  #landing #feed twitterwidget {
    width: 87vw !important;
  }
  #landing #feed iframe {
    min-width: 87vw !important;
  }
  #landing #eprix article:last-child {
    margin-top: -4rem;
  }
  #landing #eprix .overlay-top,
  #landing #eprix .overlay-bottom {
    position: relative;
  }
  #landing #eprix .full-bg {
    width: 113vw;
  }
  #landing #eprix figure {
    left: -6.5vw;
    width: 106.5vw;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: 140vw;
  }
  #landing #eprix .circuit_microgrid img{
    display: block;
    max-width: 100vw;
    max-height: 80vw;
    width: 100%;
    height: auto;
  }
}

.countdown {
  padding-left: 2rem;
  font-size: 1.6rem;
}
.countdown .days, .countdown .hours,
.countdown .minutes, .countdown .seconds {
  font-weight: 100;
  font-size: 2.4rem;
}

.circuit_microgrid{
  position: relative;
  z-index: 9;
}

.info_block{
  position: relative;
}

#landing #storage-den {
  background: linear-gradient(90deg,
                              #24BBE3 0%,
                              #0A64E0 60%);
  color: #FFFFFF;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#landing #storage-den .virtualPowerPlants {
  margin-top: 3rem;
}

#landing .live-text {
  position: relative;
}

#landing .live-text:after{
  display: block;
  position: absolute;
  content: 'LIVE';
  bottom: -1.5em;
  left: 5%;
  color: #FF0F64;
  font-size: 1.4rem;
  line-height: 1.3em;
}

#landing .live-text:before{
  display: block;
  position: absolute;
  content: '';
  width: .8vw;
  height: .8vw;
  border-radius: 50%;
  bottom: -1.15em;
  left: 0;
  background: #FF0F64;
  animation: pulse 2s infinite;
}
@keyframes pulse {
  0% {
    opacity: 0;
  }
  80%{
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 76em){
  html.ms.internet.explorer #landing #snippet-carousel .snip #v2g_container svg {
    height: 15vw !important;
    width: 150vw;
  }

  #landing .gif-link {
    top: -40%;
  }
  #landing .gif-link:nth-child(2){
    top: -35%;
  }
  #landing .gif-link:nth-child(3){
    top: -35%;
  }
  #landing .gif-link:last-child {
    top: -35%;
  }
}

@media screen and (max-width: 64em){
  #landing #snippet-info > div {
    padding-left: 0;
  }

  .firefox #snippet-carousel, .safari #snippet-carousel {
    width: 100% !important;
  }
  nav.pagination {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  html.ms.internet.explorer #landing #snippet-carousel .snip #v2g_container svg {
    height: 25vw !important;
    width: 225vw;
  }

  #landing .gif-link {
    top: 0;
  }

  #landing .gif-link:nth-child(2) {
    top: 7.5%;
  }

  #landing .gif-link:nth-child(3) {
    top: 7.5%;
  }

  #landing .gif-link:last-child {
    top: 7.5%;
  }
}

@media screen and (max-width: 52em) {
  html.ms.internet.explorer #landing #eprix .full-width {
    max-height: 90vw;
  }

    #landing #app-info{
    overflow: hidden;
  }

  #landing #app-info .img-wraps {
    min-width: 50rem;
    max-width: 70vw;
    right: -30vw;
  }

  #landing #upcoming nav ul li {
    min-width: 40vw;
  }

  #landing .gif-link {
    top: -30%;
  }
  #landing .gif-link:nth-child(2) {
    top: -22%;
  }
  #landing .gif-link:nth-child(3) {
    top: -22%;
  }
  #landing .gif-link:last-child {
    top: -22%;
  }
}

@media screen and (min-width: 52em) {
  .circuit_microgrid{
    width: 70vw;
    margin-left: -7vw;
    bottom: -9vh;
  }
  .circuit_microgrid img{
    width: 100%;
  }

  .safari .full-width .full-bg {
    width: 100%;
  }
}

@media screen and (min-width: 40em) and (max-width: 52em) {
  .circuit_microgrid{
    width: 100vw;
    margin-left: -2vw;
    bottom: -7rem;
  }

  .circuit_microgrid img{
    width: 100%;
  }
}

@media screen and (max-width: 40em) {

  .circuit_microgrid{
    width: 100%;
  }
  #landing #eprix-history-sidebar .race-video {
    min-height: 30rem;
  }
  #landing #snippet-carousel .snip #v2g_container {
    max-height: 35vw;
  }

  #landing .video-wrapper {
    min-height: 0;
  }

  #landing #app-info .img-wraps {
    right: -40vw;
    min-width: 20rem;
  }

   #landing .gif-link {
    top: 0;
  }
  #landing .gif-link:last-child {
    top: 7.5%;
  }

  #landing #cover h1 {
    font-size: 7.25rem;
  }
  #landing .live-text:after {
   left: 7.5%;
  }
  #landing .live-text:before {
    height: 2vw;
    width: 2vw;
  }

  ul.langs li {
    font-size: 2.5rem;
  }

  #landing #cover_desc {
    margin-top: 3rem;
  }

}
@media screen and (max-width: 28em) {
  #landing #eprix-history .overlay-top {
    top: -4rem;
  }
  #landing #eprix-history .overlay-bottom {
    bottom: -1rem;
  }

  #landing #cover .powering_change{
    margin-bottom: 1rem;
  }

  #landing #cover hgroup {
    background: none;
    margin: 0;
    padding: 0;
  }

  #landing #upcoming nav ul li {
    min-width: 70vw;
  }

  #landing .gif-link {
    top: 0%;
  }
  #landing .gif-link:nth-child(2) {
    top: 10%;
  }
  #landing .gif-link:nth-child(3) {
    top: 10%;
  }
  #landing .gif-link:last-child {
    top: 10%;
  }

}

.info_block{
  position: relative;
}


/* STILE PER PAGINA CON SOLO HISTORY
#landing header{
  margin: 0;
  padding: 2rem 2vw;
  background:#0a0a0a;
}
.logo-lg{
  width: 28rem
}
#eprix-history{
  height: 1078px;
  padding: 10rem 2vw;
  padding-top: 10rem;
}
.sidebar{
  height:980px;
}
*/


#photoboot{
  background: linear-gradient(180deg, #55bd50, #008b5a);
  color: white;
  padding-bottom: 2rem;
}

#photoboot .itm{
  width: 25%;
  display: inline-block;
  padding: 1rem .5rem;
}
#photoboot .wrapitm{
  padding: .75rem;
  border: 1px solid #eee;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
}
#photoboot .subitm{
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
}

#photoboot p{
  color: black;
  font-size: 1.1rem;
  margin: 0;
}



@media screen and (max-width: 40em) {
  #photoboot .itm{
    width: 50%;
  }
}

#teamAreaChart .axis text{
  font-family: sans-serif;
  fill: white;
  font-size: 7px;
}

#teamAreaChart .axis path,
#teamAreaChart .axis line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#teamAreaChart .area1 {
  fill: url(#teamAreaChart_bl1);
}
#teamAreaChart .area2 {
  fill: url(#teamAreaChart_bl2);
}

streamgraph {
  position: relative;
}

#streamgraph {
  /*border-bottom: 1px solid rgba(0,0,0,.3);*/
}
#streamgraph #cursor rect {
  fill: #fff;
}
#streamgraph .axis .domain {
  fill: none;
  stroke: none;
}
#streamgraph .x.axis{
  opacity: 0.5;
  font-size: .6rem;
}
#streamgraph .x.axis line {
  stroke: #fff;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
#streamgraph .x.axis.line line {
  stroke-dasharray: 1, 5;
}
#streamgraph .x.axis .tick {
  fill: #fff;
  font-size: 1rem;
}
/*#streamgraph g.chart path.layer.layer-1 {
  fill: url(#stream_gr1);
}*/

streamgraph .tooltip {
  position: absolute;
  z-index: 10;
  width: 19rem;
  height: 10.5rem;
  padding: .8rem;
  background: #fff;
  color: #008C5A;
  font-size: 1.4rem;
  pointer-events: none;
}
streamgraph .tooltip .label-dap {
  font-size: .8rem;
  margin-bottom: .5rem;
  padding-left: 2rem;
  background: url(/assets/svgs/av-data-gr.svg) no-repeat left center;
  background-size: 1.5rem;
}
streamgraph .label-dap-sm {
  font-size: .8rem;
  fill: #ffffff;
  text-anchor: middle;
}

streamgraph .tooltip h4 {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1.8rem;
  margin: 0;
}
streamgraph .tooltip .number-lg {
  line-height: 1.8rem;
  margin: 0;
}

streamgraph .vertical {
  position: absolute;
  z-index: 9;
  height: 98.5%;
  width: 1px;
  background: #fff;
  pointer-events: none;
}

#cursor rect {
  fill: #fff;
}

#battery_container {
}

#battery_body_container {
  position: absolute;
  top: 1rem;
  width: 100%;
}
#battery_cover svg {
  position: absolute;
  top: -1rem;
}
#battery_points svg {
  position: absolute;
  top: 15.8rem;
  width: 1rem;
  height: 1rem;
  left: 35.5rem;
}

#battery_power_phone svg {
  position: absolute;
  top: 16.2rem;
  left: -0.6rem;
}

#battery_brake svg {
  position: absolute;
  top: 0.7rem;
}
#battery_brake_points svg {
  position: absolute;
  top: 16.1rem;
  width: 5rem;
  left: 19.7rem;
}

#battery_boost_simon svg {
  position: absolute;
  top: 0.7rem;
}

#sun_rays g line {
  stroke-dasharray: 12;
  animation: dash 92s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
#v2g_container{
	overflow: hidden;
	height: 190px;
	margin-bottom: 2rem;
}

#v2g_container svg{
	height: 190px;
}


#cable_electricity_in {
  stroke-dasharray: 2, 12;
  animation: dash 20s linear infinite;
}

#cable_electricity_out {
  stroke-dasharray: 2, 12;
  animation: dashInverse 20s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes dashInverse {
  to {
    stroke-dashoffset: 1000;
  }
}
g#sun_rays line {
  stroke-dasharray: 3,6;
  animation: dash 82s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
#cable_fast{
  stroke-dasharray: 2, 7;
  animation: dashfast 15s linear infinite;
}

#cable_slow{
  stroke-dasharray: 2, 8;
  animation: dashslow 90s linear infinite;
}

@keyframes dashfast {
  to {
    stroke-dashoffset: -1000;
  }
}

@keyframes dashslow {
  to {
    stroke-dashoffset: -1000;
  }
}
.enel-stand{
	margin-top: 3em;
}

efficiency svg{
	position: relative;
	bottom: 2rem;
  left: 0;
}

.border_bottom{
	border-bottom: 1px solid;
	padding-bottom: 1em;
}

#landing #snippet-carousel .snip p.note{
	font-size: 11px;
	line-height: 1.3em;
}